old_cpu: true

ssh_keys:
  - "ssh-rsa xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx== name"

minio:
  user: mimir
  password: change_me


vpn_mask: 10.20.30.0/24
vpn_hosts:
  host-1.kittyland.com:
    ip: 10.0.0.1
    dns: host-1.internal.kittyland.com
  host-2.kittyland.com:
    ip: 10.0.0.2
    dns: host-2.internal.kittyland.com
vpn_hosts_extra:
  your_username: 10.20.30.5

metrics_host: "n.n.n.n"
metrics_hostname_external: metrics.kittyland.com
metrics_hostname: host-1.kittyland.com
metrics_hostname_internal: host-1.internal.kittyland.com

gbans:
  gb_core_host: "https://kittyland.com"
  gb_core_port: 443
  gb_core_server_key: "{{ item.gbans_key }}"
  gb_stv_enable: 1
  gb_stv_finishmap: "1"
  gb_stv_ignorebots: "1"
  gb_stv_minplayers: "1"
  gb_stv_path: "stv_demos/active"
  gb_stv_path_complete: "stv_demos/complete"
  gb_stv_timestart: "-1"
  gb_stv_timestop: "-1"
  stopwatch_enabled: "{% if item.stopwatch | default(false) %}1{% else %}0{% endif %}"
  stopwatch_blueteamname: "Team A"
  stopwatch_redteamname: "Team B"

wireguard_preup:
  - echo 1 > /proc/sys/net/ipv4/ip_forward
  - ufw allow 51820/udp
wireguard_postup:
  - ufw route allow in on wg0
  - ufw route allow out on wg0
wireguard_persistent_keepalive: "30"
# Directory to store WireGuard configuration on the remote hosts
wireguard_remote_directory: >-
  {%- if wireguard_ubuntu_use_netplan -%}
  /etc/netplan
  {%- elif ansible_os_family == 'Darwin' -%}
  /opt/local/etc/wireguard
  {%- else -%}
  /etc/wireguard
  {%- endif %}
# The default port WireGuard will listen if not specified otherwise.
wireguard_port: "51820"
# The default interface name that WireGuard should use if not specified otherwise.
wireguard_interface: "wg0"
# The default owner of the wg.conf file
wireguard_conf_owner: root
# The default mode of the wg.conf file
wireguard_conf_mode: 0600
# The default state of the wireguard service
wireguard_service_enabled: "yes"
wireguard_service_state: "started"
wireguard_interface_restart: true
wireguard_unmanaged_peers:
  my_desktop:
    public_key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx=
    # preshared_key: ... e.g. from ansible-vault?
    allowed_ips: 10.20.30.100/32
    # endpoint: ""
    persistent_keepalive: 30

rsyslog_rules:
  - rule_name: "remote-udp"
    priority: 99
    ruleset: |
      module(load="omfwd")
      action(type="omfwd" target="metrics.kittyland.com" port="514" protocol="udp")
    state: "present"
