---

gbans_host: "https://example.com"
gbans_port: "443"

# https://github.com/crescentrose/chat-log
chat_logs_token: "xxxxxxxxxxxxxxxxxxxxxxxxx"

ssh_keys:
  - "ssh-rsa xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx== key"

dockerhub:
  publish: false
  username: your_username
  password: your_password

log:
  file_enable: true
  # UDP logger targets (logaddress_add)
  net_enable: false
  net_hosts: ["example.com:27115"]

prometheus_host: "1.2.3.4"
metrics_host: "1.2.3.4"

is_vpn_client: true

vpn_server_public_key: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx="
vpn_host: "1.2.3.4"
vpn_port: 41194
vpn_allowed_ips: "10.10.10.0/24"
# Extra vpn configs for admins
vpn_clients_extra:
  - public_key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx=
    client_addr: 10.10.10.10/32
    name: username