# Global srcds defaults
srcds_user: "tf2server"
srcds_homedir: "/home/tf2server"
srcds_steam_app: "tf"
srcds_steam_app_dir: "/home/tf2server/tf-dedicated"
srcds_steam_app_id: 232250
srcds_base_port: 27015
srcds_tv_port: 27020
srcds_max_players: 32
srcds_rcon_password: "default_global_rcon_pass"
srcds_server_password: ""
srcds_start_map: ""
srcds_region: 3
srcds_hostname: "TF2"
srcds_client_port: ""
srcds_workshop_auth_key: ""
srcds_use_sdr: false

fastdl_url: ""
sv_tags: "kittyland,nodogs"
sv_pure: 1
start_map: "pl_badwater"

# https://crash.limetech.org/
mini_dump_steamid: 00000000000000000

stv_enable: true
stv_password: "your_global_stv_password"
stv_name: "Level 3 Sentry"

config:
  default:
    extensions_disabled: ["tf2items.autoload", "tf2items.ext.2.ep2v.so", "sourcescramble.ext.so"]
    plugins_disabled: ["sm_vprofiler.smx", "EdictLimiter.smx", "stopwatch.smx", "roundtimer.smx", "tf_uncledane.smx"]
  all:
    plugins_disabled: ["sm_vprofiler.smx", "EdictLimiter.smx", "stopwatch.smx", "roundtimer.smx", "tf_uncledane.smx"]
  all_plus:
    plugins_disabled: [ "sm_vprofiler.smx", "EdictLimiter.smx", "stopwatch.smx", "roundtimer.smx", "tf_uncledane.smx" ]
  5cp:
    plugins_disabled: [ "sm_vprofiler.smx", "EdictLimiter.smx", "stopwatch.smx", "roundtimer.smx", "tf_uncledane.smx" ]
  stopwatch:
    plugins_disabled: ["sm_vprofiler.smx", "EdictLimiter.smx", "tf_uncledane.smx"]
  fixed:
    plugins_disabled: ["sm_vprofiler.smx", "EdictLimiter.smx", "roundtimer.smx", "nativevotes_rockthevote.smx", "nativevotes_nominations.smx", "nativevotes_mapchooser.smx", "tf_uncledane.smx", "nextmap.smx", "mapchooser.smx", "randomcycle.smx"]
  rototion:
    plugins_disabled: ["sm_vprofiler.smx", "EdictLimiter.smx", "stopwatch.smx", "roundtimer.smx", "tf_uncledane.smx"]
  pve:
    plugins_disabled: ["sm_vprofiler.smx", "roundtimer.smx", "stopwatch.smx", "reservedslots.smx", "classrestrict.smx", "networktools.smx", "votescramble.smx"]
    extensions_disabled: []

item_whitelist:
  #"unlisted_items_default_to": 1
  #"The Conscientious Objector": 0
  #"Flair!": 0
  #"Photo Badge": 0

pve:
  bot_attrs:
    metal regen: 5000
    maxammo metal increased: 25
  names:
    - Uncle Brain
    - Uncle Lane
    - Uncle Rain
    - Uncle Grain
    - Uncle Slain
    - Uncle Crane
    - Uncle Strain
    - Uncle Vain
    - Uncle Train
    - Uncle Stain
    - Uncle Plane
    - Uncle Insane
    - Uncle Urethane
    - Uncle Novocain
    - Uncle Hurricane
    - Uncle Pain

# Params to generate /tf/addons/sourcemod/configs/admin_overrides.cfg
admin_overrides:
  - [ "admin_allspec_flag", "b" ]

discord:
  stac_webhook: "https://discord.com/api/webhooks/xxxxxxxxxxxxxxxxxxxxxxxxxx"
  crash_webhook: "https://discord.com/api/webhooks/xxxxxxxxxxxxxxxxxxxxxxxxx"

motd: |
  Your multi
  line
  motd
  text message

motd_pve: |
  asdf


map_rotation:
  default:
    - cp_altitude
    - cp_dustbowl
    - cp_mountainlab
    - cp_process_final
    - cp_snakewater_final1
    - cp_sunshine
    - koth_cascade
    - koth_highpass
    - koth_lakeside_final
    - koth_viaduct
    - pl_badwater
    - pl_barnblitz
    - pl_borneo
    - pl_frontier_final
    - pl_pier
    - pl_snowycoast
    - pl_swiftwater_final1
    - pl_upward

  stopwatch:
    - cp_gullywash_final1
    - cp_metalworks
    - cp_process_final
    - cp_snakewater_final1
    - cp_sunshine
    - workshop/koth_bagel.ugc2514036946
    - koth_highpass
    - koth_lakeside_final
    - workshop/koth_product.ugc454272353
    - workshop/koth_ramjam_rc1.ugc459778887
    - workshop/koth_clearcut_b15.ugc2107050255
    - workshop/cp_process_f11.ugc2302948105
    - workshop/cp_reckoner.ugc674719999
    - workshop/koth_ashville.ugc2130459942
    - workshop/pl_barnblitz_pro.ugc582280235
    - workshop/pl_badwater_pro_v12.ugc2142942074
    - workshop/pl_snowycoast_pro.ugc1761528829
    - workshop/pl_vigil.ugc1266210012
    - pl_swiftwater_final1
    - pl_upward
    - pl_borneo
    - cp_granary

  community:
    # ad
    - workshop/cp_bruhstbowl_b5.ugc2878604990
    - workshop/cp_fulgur_rc2a.ugc2068252300
    - workshop/cp_glacier_rc6.ugc2905735376
    - workshop/cp_snowbase_b18.ugc2081770490
    - workshop/cp_hazyfort_rc6.ugc1365963729
    # cp
    - workshop/cp_alloy.ugc592805587
    - workshop/cp_croissant.ugc458840209
    - workshop/cp_glassworks.ugc454118349
    - workshop/cp_indulge.ugc528106646
    - workshop/cp_propaganda.ugc1603743849
    - workshop/cp_mannbase.ugc1900737467
    - workshop/cp_kalinka.ugc1272700588
    # koth
    - workshop/koth_trenchfoot.ugc731436616
    - workshop/koth_kemptown.ugc767410655
    # pl
    - workshop/pl_cashworks.ugc2904065412
    - workshop/pl_boundary.ugc456799153
    - workshop/pl_divulgence.ugc2884808746
    - workshop/pl_emerge.ugc888027758
    - workshop/pl_corrode.ugc546577989
    - workshop/pl_shoreleave.ugc1238849347
    - workshop/pl_badwater_pro_v12.ugc2142942074
    - workshop/pl_highwood.ugc1769496557
    # 1st batch
    - workshop/cp_caldera.ugc2834196889
    - workshop/cp_logjam.ugc454812035
    - workshop/cp_overgrown.ugc503939302
    - workshop/cp_reckoner.ugc674719999
    - workshop/cp_sulphur.ugc619869471
    - workshop/cp_villa.ugc2113052569
    - workshop/koth_ashville.ugc2130459942
    - workshop/koth_bagel.ugc2514036946
    - workshop/koth_product.ugc454272353
    - workshop/koth_ramjam_rc1.ugc459778887
    - workshop/koth_slaughter.ugc1712845210
    - workshop/koth_synthetic.ugc1549817316
    - workshop/pl_barnblitz_pro.ugc582280235
    - workshop/pl_cactus_canyon_redux.ugc2579644293
    - workshop/pl_fifthcurve_rc1.ugc648227046
    - workshop/pl_eruption.ugc2807898013
    - workshop/pl_vigil.ugc1266210012
    - workshop/rd_asteroid_redux.ugc2154902912

  nopl:
    # ad
    - cp_altitude
    - cp_dustbowl
    - cp_egypt_final
    - cp_gorge
    - cp_gravelpit
    - cp_junction_final
    - cp_mercenarypark
    - cp_mossrock
    - cp_mountainlab
    - cp_steel
    # 5cp
    - cp_5gorge
    - cp_badlands
    - cp_coldfront
    - cp_fastlane
    - cp_foundry
    - cp_freight_final1
    - cp_granary
    - cp_gullywash_final1
    - cp_metalworks
    - cp_powerhouse
    - cp_process_final
    - cp_snakewater_final1
    - cp_sunshine
    - cp_vanguard
    - cp_well
    - cp_yukon_final
    # 3cp?
    - cp_standin_final
    # koth
    - koth_badlands
    - koth_highpass
    - koth_king
    - koth_lakeside_final
    - koth_harvest_final
    - koth_suijin
    - koth_viaduct
    - koth_cascade
    - koth_brazil
    - koth_lazarus
    - koth_sawmill
    - koth_nucleus
    - koth_harvest_final
    # payload (evil version)
    - plr_bananabay
    - plr_hightower
    - plr_nightfall_final
    - plr_pipeline
    # ctf
    - ctf_2fort
    - ctf_doublecross
    - ctf_landfall
    - ctf_sawmill
    - ctf_turbine
    - ctf_well

  all:
    # ad
    - cp_altitude
    - cp_dustbowl
    - cp_egypt_final
    - cp_gorge
    - cp_gravelpit
    - cp_junction_final
    - cp_mercenarypark
    - cp_mossrock
    - cp_mountainlab
    - cp_steel
    # 5cp
    - cp_5gorge
    - cp_badlands
    - cp_coldfront
    - cp_fastlane
    - cp_foundry
    - cp_freight_final1
    - cp_granary
    - cp_gullywash_final1
    - cp_metalworks
    - cp_powerhouse
    - cp_process_final
    - cp_snakewater_final1
    - cp_sunshine
    - cp_vanguard
    - cp_well
    - cp_yukon_final
    # 3cp?
    - cp_standin_final
    # koth
    - koth_badlands
    - koth_highpass
    - koth_king
    - koth_lakeside_final
    - koth_harvest_final
    - koth_suijin
    - koth_viaduct
    - koth_cascade
    - koth_brazil
    - koth_lazarus
    - koth_sawmill
    - koth_nucleus
    - koth_harvest_final
    # payload
    - pl_badwater
    - pl_barnblitz
    - pl_borneo
    - pl_enclosure_final
    - pl_frontier_final
    - pl_goldrush
    - pl_hoodoo_final
    - pl_pier
    - pl_snowycoast
    - pl_swiftwater_final1
    - pl_thundermountain
    - pl_upward
    # payload (evil version)
    - plr_bananabay
    - plr_hightower
    - plr_nightfall_final
    - plr_pipeline
    # ctf
    - ctf_2fort
    - ctf_doublecross
    - ctf_landfall
    - ctf_sawmill
    - ctf_turbine
    - ctf_well
    - pl_rumford_event
