steam_key: ZXZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
zerossl_key: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX


alertmanager:
  webhook_url: https://discord.com/api/webhooks/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  emails:
    - a@gmail.com
    - b@gmail.com

gbans_web:
  image: ghcr.io/leighmacdonald/gbans:v0.7.9
  owner: 0000000000000000000
  external_url: https://example.com
  http_host: 0.0.0.0
  http_port: 6006
  http_static_path: ./dist/
  http_cookie_key: change_me
  http_cors_origins:
    - "https://gbans.localhost"
    - "http://gbans.localhost:5173"
    - "https://gbans.localhost:6006"

  database_dsn: postgresql://gbans:gbans@gbans-postgres/gbans
  database_log_queries: false

caddy:
  tls_configs:
    kittyland:
      api_key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      email: a@gmail.com
    kittyland2:
      api_key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      email: b@gmail.com
  static:
    fastdl.kittyland.com:
      root: /fastdl
  hosts:
    metrics.kittyland.com:
      address: grafana:3000
      forward: false
      tls_name: kittyland
    update.kittyland.com:
      address: swp:8181
      forward: true
      tls_name: kittyland
    kittyland.com:
      address: gbans-service:6006
      forward: false
      tls_name: kittyland
    www.kittyland2.com:
      address: kittyland2-web:8003
      forward: false
      tls_name: kittyland2
    kittyland2.com:
      address: kittyland2-web:8003
      forward: false
      tls_name: kittyland2

