[Unit]
Description=Node Exporter
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/tf2server
ExecStart=/home/tf2server/node_exporter

[Install]
WantedBy=multi-user.target
