[Unit]
Description=Uncletopia TF2 Server
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
User=tf2server
WorkingDirectory=/home/tf2server
ExecStart=/home/tf2server/tf2server start
ExecStop=/home/tf2server/tf2server stop
Restart=no
RemainAfterExit=yes   #Assume that the service is running after main process exits with code 0

[Install]
WantedBy=multi-user.target
