{
        acme_ca https://acme.zerossl.com/v2/DV90
        email {{ acme_email }}
}
{% for name, value in tls_configs.items() %}
({{ name }}) {
        tls {
                dns cloudflare {{ value }}
        }
}
{% endfor %}

{% for host in caddy.hosts %}
{{ host }} {
{% if caddy.hosts[host].forward %}
        reverse_proxy /* {{ caddy.hosts[host].address }} {
                header_up Host {host}
                header_up X-Real-IP {remote_host}
        }
{% else %}
        reverse_proxy /* {{ caddy.hosts[host].address }}
{% endif %}
        import {{ caddy.hosts[host].tls_name }}
}
{% endfor %}

{% for host in caddy.static  %}
{{ host }} {
        root * {{ caddy.static[host].root }}
        file_server browse
        import {{ caddy.static[host].tls_name }}
}
{% endfor %}
