// Hostname for server.
hostname "{{ item.name | default(srcds_hostname) }}"

tf_classlimit {{ item.tf_classlimit|default(3) }}
sv_vote_issue_classlimits_allowed 0
sv_vote_issue_classlimits_max 3

// Ask autobalance
mp_autoteambalance 0
mp_teams_unbalance_limit 1
tf_autobalance_ask_candidates_maxtime 10
tf_autobalance_dead_candidates_maxtime 0
tf_autobalance_force_candidates_maxtime 0
tf_autobalance_xp_bonus 0

sv_tags "{{ item.sv_tags|default(sv_tags) }}"

sv_rcon_banpenalty 1440
sv_rcon_minfailures 5
sv_rcon_maxfailures 5

// Server password - for private servers.
sv_password "{{ srcds_server_password }}"

sv_lan 0
sv_region {{ srcds_region }}

// Custom maps
sv_downloadurl "{{ fastdl_url }}"
sv_allowupload 0
sv_allowdownload 0

// Allow user modifications
sv_pure {{ sv_pure }}
sv_pure_kick_clients 0
sv_allow_wait_command 1

// Voice chat
sv_voiceenable 1
// celt causes crashes for many linux users. This is easier than telling people how to fix it.
// sv_voicecodec vaudio_celt
sv_voicecodec steam

// AFK Kick after 3 mins
mp_idlemaxtime 3

sv_visiblemaxplayers {{ item.sv_visiblemaxplayers|default(24) }}


{% if item.stv_enable|default(stv_enable) %}
tv_enable 1
tv_autorecord 0
tv_maxclients 5
tv_transmitall 1
tv_delaymapchange 0
tv_delay 0
tv_maxrate 0
tv_port "{{ srcds_base_port + (loop0 * 10) + 1 }}"
tv_allow_camera_man 1
tv_password "{{ stv_password }}"
// Hostname
tv_name "{{ item.name }} | STV"
// In-game name
tv_title "{{ stv_name }}"
tv_snapshotrate {{ tv_snapshotrate|default(64) }}
{% endif %}
