"item_whitelist"
{
{% set found = item_whitelist|default(false) %}
{% if found %}
{% if item.whitelist|default("") != "" %}
    {{ whitelist[item.whitelist] }}
{% else %}
    "unlisted_items_default_to"                     "1"
{% endif %}
}
