nt_checkrate "{{ nt_checkrate|default(10) }}"
nt_choke_addition "{{ nt_choke_addition|default(30) }}"
nt_choke_enable "{{ nt_choke_enable|default(0) }}"
nt_choke_threashold "{{ nt_choke_threashold|default(6) }}"
nt_enabled "{{ nt_enabled|default(1) }}"
nt_kickvocalize "{{ nt_kickvocalize|default(0) }}"
nt_lat_threashold "{{ nt_lat_threashold|default(6) }}"
nt_latency_addition "{{ nt_latency_addition|default(150) }}"
nt_latency_enable "{{ nt_latency_enable|default(1) }}"
nt_liammethod "{{ nt_liammethod|default(0) }}"
nt_logenabled "{{ nt_logenabled|default(1) }}"
nt_logformatext "{{ nt_logformatext|default('%Y_%m_%d') }}"
nt_logformatint "{{ nt_logformatint|default('%x') }}"
nt_loss_addition "{{ nt_loss_addition|default(15) }}"
nt_loss_enable "{{ nt_loss_enable|default(0) }}"
nt_loss_threashold "{{ nt_loss_threashold|default(6) }}"
nt_minplayercount "{{ nt_minplayercount|default(16) }}"
nt_warningvocalize "{{ nt_warningvocalize|default(1) }}"
