nt_checkrate: "10"
nt_choke_addition: "30"
nt_choke_enable: "0"
nt_choke_threashold: "6"
nt_enabled: "1"
nt_kickvocalize: "0"
nt_lat_threashold: "6"
nt_latency_addition: "150"
nt_latency_enable: "1"
nt_liammethod: "0"
nt_logenabled: "1"
nt_logformatext: "%Y_%m_%d"
nt_logformatint: "%x"
nt_loss_addition: "15"
nt_loss_enable: "0"
nt_loss_threashold: "6"
nt_minplayercount: "16"
nt_warningvocalize: "1"