sm_rtv_changetime {{ sm_rtv_changetime|default(0) }}
sm_rtv_initialdelay {{ sm_rtv_initialdelay|default(30.0) }}
sm_rtv_interval {{ sm_rtv_interval|default(240) }}
sm_rtv_minplayers {{ sm_rtv_minplayers|default(0) }}
sm_rtv_needed {{ sm_rtv_needed|default(0.50) }}
sm_rtv_postvoteaction {{ sm_rtv_postvoteaction|default(0) }}
