log on

sv_minrate {{ item.sv_minrate|default(80000) }}
sv_maxrate {{ item.sv_maxrate|default(0) }}
sv_maxupdaterate {{ item.sv_maxupdaterate|default(66) }}
sv_minupdaterate {{ item.sv_minupdaterate|default(30) }}
sv_maxcmdrate {{ item.sv_maxcmdrate|default(66) }}
sv_mincmdrate {{ item.sv_mincmdrate|default(30) }}

sv_client_cmdrate_difference "0"
net_splitpacket_maxrate	"100000"

// Force client values to be in range
sv_client_min_interp_ratio 1
sv_client_max_interp_ratio 2
sv_client_predict "1"

{% if item.stv_enable|default(stv_enable) %}
tv_enable 1
tv_autorecord 0
tv_maxclients 5
tv_transmitall 1
tv_delaymapchange 0
tv_delay 0
tv_maxrate 0
tv_port "{{ srcds_base_port + (loop0 * 10) + 1 }}"
tv_allow_camera_man 1
tv_password "{{ stv_password }}"
// Hostname
tv_name "{{ item.name }} | STV"
// In-game name
tv_title "{{ stv_name }}"
tv_snapshotrate {{ tv_snapshotrate|default(66) }}
{% endif %}

// Server Logging
sv_logbans 1
sv_logecho 1
// Must be enabled for sm-sentry-error-logger...
sv_logfile 1
sv_log_onefile 0
{% if log.net_enable %}
// net log enabled
sv_logsecret {{ item.log_secret }}
{% for host in log.net_hosts %}
logaddress_add {{ host }}
{% endfor %}
{% endif %}

sv_rcon_whitelist_address {{ metrics_host }}

tf_medieval 0
tf_medieval_autorp 0

tf_gravetalk 1
sv_alltalk {% if item.sv_alltalk|default(false) %}1{% else %}0{% endif %}

tf_forced_holiday {% if item.tf_forced_holiday|default(false) %}2{% else %}0{% endif %}

sv_cheats 0
sv_pausable 0

tf_ctf_bonus_time 0

// Remove random crits
tf_weapon_criticals {% if item.tf_weapon_criticals|default(false) %}1{% else %}0{% endif %}

tf_use_fixed_weaponspreads 1

// Dont spectate other team
mp_forcecamera 1

// Extra time for map voting
mp_enableroundwaittime 1
mp_restartround 0
mp_bonusroundtime 19
mp_chattime 20

// Dont push same team
tf_avoidteammates_pushaway 0

// Rocket jump during preround
tf_preround_push_from_damage_enable 1

// Chat settings
sm_tidychat_on 1
sm_tidychat_voice 1
sm_tidychat_connect 1
sm_tidychat_disconnect 0
sm_tidychat_class 0
sm_tidychat_team 1
sm_tidychat_arena_resize 0
sm_tidychat_arena_maxstreak 0
sm_tidychat_cvar 1

// comp fixes
sm_deterministic_fall_damage 1
sm_fix_ghost_crossbow_bolts 1
sm_fix_slope_bug 1
sm_fix_sticky_delay 1
sm_fix_reflect_self_damage 1
sm_inhibit_extendfreeze 1
sm_gunboats_always_apply 1

// Server voting options
sv_vote_issue_nextlevel_allowed 0
sv_vote_issue_extendlevel_allowed 0
sv_vote_issue_kick_allowed 1
sv_vote_issue_scramble_teams_allowed 0
sv_vote_kick_ban_duration 20

// Vote scramble
nano_votescramble_time 20.0
nano_votescramble_delay 180.0
nano_votescramble_chat_percentage 0.50
nano_votescramble_menu_percentage 0.60
nano_votescramble_minimum 3
nano_votescramble_skip_second_vote 1

// Reminders
ut_scramble_nag_timer 300.0
ut_rtv_nag_timer 2400.0

// Ask autobalance
mp_autoteambalance 0
mp_teams_unbalance_limit 1
tf_autobalance_ask_candidates_maxtime 10
tf_autobalance_dead_candidates_maxtime 0
tf_autobalance_force_candidates_maxtime 0
tf_autobalance_xp_bonus 0

// Default map time limit
mp_timelimit 30
mp_match_end_at_timelimit 0
mp_winlimit 0
mp_maxrounds 0

// No spectators team
mp_allowspectators {% if item.config == 'pve' %}1{% else %}0{% endif %}

mp_forceautoteam {% if item.config == 'pve' %}0{% else %}1{% endif %}

{% if item.config =='pve' %}
mp_defaultteam 3
mp_humans_must_join_team blue
{% endif %}

// Classrestrict plugin
sm_classrestrict_enabled 1
sm_classrestrict_immunity 0
{% for team in ["blu","red"] %}
sm_classrestrict_{{ team }}_demomen {{ item.tf_classlimit|default(3) }}
sm_classrestrict_{{ team }}_engineers {{ item.tf_classlimit|default(3) }}
sm_classrestrict_{{ team }}_heavies {{ item.tf_classlimit|default(3) }}
sm_classrestrict_{{ team }}_medics {{ item.tf_classlimit|default(3) }}
sm_classrestrict_{{ team }}_pyros {{ item.tf_classlimit|default(3) }}
sm_classrestrict_{{ team }}_scouts {{ item.tf_classlimit|default(3) }}
sm_classrestrict_{{ team }}_snipers {{ item.tf_classlimit|default(3) }}
sm_classrestrict_{{ team }}_soldiers {{ item.tf_classlimit|default(3) }}
sm_classrestrict_{{ team }}_spies {{ item.tf_classlimit|default(3) }}
{% endfor %}

// Built in class limit commands
tf_classlimit {{ item.tf_classlimit|default(3) }}
sv_vote_issue_classlimits_allowed 0
sv_vote_issue_classlimits_max 3

// Disable stalemates
mp_stalemate_enable 0
mp_stalemate_timelimit 240

net_disconnect_reason 1
tf_fall_damage_disablespread 1
net_chan_limit_msec 160

// Disable glow for the more "serious" servers running stopwatch
tf_spawn_glows_duration {% if item.rotation|default("all") == "stopwatch" %}0{% else %}10{% endif %}

// Stopwatch switches
mp_match_end_at_timelimit {% if item.rotation|default("all") == "stopwatch" %}1{% else %}0{% endif %}

sm_cvar gb_rules_round_time {% if item.rotation|default("all") == "stopwatch" %}300{% else %}-1{% endif %}

{% if item.config == 'pve' %}

sm_cvar sm_danepve_respawn_bots_on_round_end 0

sm_cvar sm_danepve_max_playing_humans {{ item.human_count|default(16) }}

sm_cvar sm_danepve_max_connected_humans {{ item.human_count|default(16) }}

sm_cvar sm_danepve_clear_bots_building_gibs 1

{% endif %}
{% for k, v in sm_cvars.items() %}
sm_cvar {{ k }} "{{ v }}"
{% endfor %}

sm_cvar mp_waitingforplayers_time {% if item.rotation|default("all") == "community" %}60{% else %}35{% endif %}

ce_sentry_dsn_url "{{ sentry_dsn }}"
ce_region {{ item.sentry_ce_region|default("") }}
ce_type {{ item.config }}
ce_server_id "{{ item.server_name_short }}"
