[Unit]
Description=srcds-{{ item.server_name_short }}
PartOf=srcds-master.service
After=network.target

[Service]
Type=forking
User={{ srcds_user }}
Group=tf2

{% if enable_threads %}
CPUAffinity={{ loop0 * 2 }},{{ (loop0 * 2 ) + 1 }}
{% else %}
CPUAffinity={{ loop0 }}
{% endif %}

WorkingDirectory=/home/{{ srcds_user }}/srcds-{{ item.server_name_short }}
Environment=

RemainAfterExit=yes
User={{ srcds_user }}
ExecStart=/usr/bin/tmux -S ./tmux.sock new-session -s {{ item.server_name_short }} -d ./entry.sh
ExecStop=/usr/bin/bash ./stop.sh

KillSignal=SIGCONT

TimeoutStartSec=0
TimeoutStopSec=80

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target