stac_verbose_info: "0"
stac_ban_duration: "0"
stac_max_allowed_turn_secs: "-1.000000"
stac_ban_for_misccheats: "1"
stac_optimize_cvars: "1"
stac_max_aimsnap_detections: "40"
stac_max_psilent_detections: "25"
stac_max_bhop_detections: "20"
stac_max_fakeang_detections: "15"
stac_max_cmdnum_detections: "40"
stac_max_tbot_detections: "0"
stac_min_interp_ms: "-1"
stac_max_interp_ms: "101"
stac_min_randomcheck_secs: "60.000000"
stac_max_randomcheck_secs: "300.000000"
stac_include_demoname_in_banreason: "1"
stac_log_to_file: "1"
stac_fixpingmasking_enabled: "1"
stac_silent: "0"
stac_max_connections_from_ip: "5"
stac_work_with_sv_cheats: "0"