stac_ban_duration "{{ stac_ban_duration|default(0) }}"
stac_max_allowed_turn_secs "{{ stac_max_allowed_turn_secs|default(-1.0) }}"
stac_ban_for_misccheats "{{ stac_ban_for_misccheats|default(1) }}"
stac_optimize_cvars "{{ stac_optimize_cvars|default(1) }}"
stac_max_aimsnap_detections "{{ stac_max_aimsnap_detections|default(40) }}"
stac_max_psilent_detections "{{ stac_max_psilent_detections|default(25) }}"
stac_max_bhop_detections "{{ stac_max_bhop_detections|default(20) }}"
stac_max_fakeang_detections "{{ stac_max_fakeang_detections|default(15) }}"
stac_max_cmdnum_detections "{{ stac_max_cmdnum_detections|default(40) }}"
stac_max_tbot_detections "{{ stac_max_tbot_detections|default(0) }}"
stac_min_interp_ms "{{ stac_min_interp_ms|default(-1) }}"
stac_max_interp_ms "{{ stac_max_interp_ms|default(101) }}"
stac_min_randomcheck_secs "{{ stac_min_randomcheck_secs|default(60.0) }}"
stac_max_randomcheck_secs "{{ stac_max_randomcheck_secs|default(300.0) }}"
stac_include_demoname_in_banreason "{{ stac_include_demoname_in_banreason|default(1) }}"
stac_log_to_file "{{ stac_log_to_file|default(1) }}"
stac_fixpingmasking_enabled "{{ stac_fixpingmasking_enabled|default(1) }}"
stac_silent "{{ stac_silent|default(0) }}"
stac_max_connections_from_ip "{{ stac_max_connections_from_ip|default(5) }}"
stac_work_with_sv_cheats: "{{ stac_work_with_sv_cheats|default(0) }}"
stac_generic_ban_msgs: "{{ stac_generic_ban_msgs|default(0) }}"
