UncleDanePVE
{
	Names
	{
{% for name in pve.names %}
		"{{ loop.index }}"  "{{ name }}"
{% endfor %}
	}
    Count {{ pve.bot_count }}
	Difficulty 3
	Class "engineer"

	// Specify custom player attributes for bots.
	Attributes
	{
{% for attr, value in pve.bot_attrs.items() %}
		"{{ attr }}"               {{ value }}
{% endfor %}
	}

	// Customize what weapons bots are going to use
	Weapons
	{
		Primary
		{
			Weapon 199	// Shotgun
			Weapon 527	// Widowmaker
			Weapon 141	// Frontier Justice
            Weapon 588	// Pomson (TODO: make it have 10% chance to spawn)
		}

		Melee
		{
			Weapon
			{
				Index 7	// Wrench

				Attributes
				{
					"fire rate bonus" 0.6
				}
			}
		}
	}

	Cosmetics
	{
		// Insulated Inventor
		Cosmetic
		{
			Index {{ pve.cosmetic_1 | default(30539) }}
			Attributes
			{
				"set item tint RGB" 	15132390
				"set item tint RGB 2" 	15132390
			}
		}

		// The Danger
		Cosmetic
		{
			Index {{ pve.cosmetic_2 | default(30420) }}
			Attributes
			{
				"set item tint RGB" 	15132390
				"set item tint RGB 2" 	15132390
				"attach particle effect" 61
			}
		}

		// The Gold Digger
		Cosmetic
		{
			Index {{ pve.cosmetic_3 | default(30172) }}
			Attributes
			{
				"set item tint RGB" 	15132390
				"set item tint RGB 2" 	15132390
			}
		}
	}
}
