# general IDE/OS stuff
.idea
.vscode
.DS_Store
*Zone.Identifier

# prevent logs from being committed accidentally
*.log

*.smx

host_vars/*
group_vars/*
roles/cloudalchemy.*
/*.hosts
*.dll
/.ansible/
.direnv
