# general IDE/OS stuff 
.idea
.vscode
.DS_Store
*Zone.Identifier

# prevent logs from being committed accidentally
*.log

*.smx
roles/tf2/files/tf/addons/sourcemod/configs/admins_simple.ini
roles/tf2/files/tf/addons/sourcemod/configs/admin_overrides.ini
roles/tf2/files/tf/cfg/sourcemod/sourcemod.cfg
/sourcemod/plugins/

host_vars/*
group_vars/*