[submodule "playbooks/roles/githubixx.ansible_role_wireguard"]
	path = playbooks/roles/githubixx.ansible_role_wireguard
	url = https://github.com/githubixx/ansible-role-wireguard.git
[submodule "sm_plugins/sm-ugc-blocker"]
	path = sm_plugins/sm-ugc-blocker
	url = https://github.com/DosMike/SM-UGC-Blocker.git
[submodule "sm_plugins/skipmotd"]
	path = sm_plugins/skipmotd
	url = https://github.com/gcommer/skipmotd
