# general IDE/OS stuff 
.idea
.vscode
.DS_Store
*Zone.Identifier

# prevent logs from being committed accidentally
*.log

*.smx
playbooks/roles/tf2/files/tf/addons/sourcemod/configs/admins_simple.ini
playbooks/roles/tf2/files/tf/addons/sourcemod/configs/admin_overrides.ini
playbooks/roles/tf2/files/tf/cfg/sourcemod/sourcemod.cfg

host_vars/*
group_vars/*
playbooks/roles/cloudalchemy.*
/hosts.yml
