all:
  children:
    build:
      hosts:
        example.com:

    development:
      children:
        tf2:
          hosts:
            localhost:
    staging:
      children:
        tf2:
          hosts:
            test-[1:2].example.com:
    production:
      children:
        metrics:
          hosts:
            mtl-1.ca.example.com:
        web:
          hosts:
            mtl-1.ca.example.com:
        tf2:
          children:
            na:
              children:
                nae:
                  hosts:
                    atl-1.us.example.com: