[metrics]
metrics.example.com

[web]
example.com

[tf2]
tf2.example.com

[tf2bdd]
tf2bdd.example.com

[sentry]
sentry.example.com

[gbans]
gbans.example.com

[uncledane]
uncledane.example.com

[demostats]
demostats.example.com

[bdapi]
bdapi.example.com
