---

update_interval: 5s

remotes:
{% for remote in srcdsup.remotes %}
  - name: {{ remote.name }}
    type: {{ remote.type }}
    url: {{ remote.url }}
    password: {{ item.gbans_key }}
{% endfor %}

rules:
{% for rule in srcdsup.rules %}
  - name: {{ rule.name }}
    root: {{ rule.root }}
    pattern: "{{ rule.pattern }}"
    remote: {{ rule.remote }}
    server: {{ item.server_name_short }}
{% endfor %}
