[Unit]
Description=Discord Log Relay
After=network.target

[Service]
User=tf2server
Group=tf2
WorkingDirectory=/home/tf2server
ExecStart=/home/tf2server/discord_log_relay client -n "{{ server_name_short }}" -H {{ discord_log_relay_host }}
Restart=always

[Install]
WantedBy=multi-user.target
