---
- name: apt upgrade
  become: yes
  apt:
    update_cache: yes
    upgrade: yes
    cache_valid_time: 0

- name: addgroup tf2
  become: yes
  group:
    name: tf2
    state: present

- name: adduser tf2server
  become: yes
  user:
    name: tf2server
    comment: TF2 Server User
    group: tf2
    shell: /bin/bash
    create_home: yes
    state: present

- name: sudoers.d
  become: yes
  copy:
    dest: "/etc/sudoers.d/devops"
    content: "%tf2  ALL=(ALL)  NOPASSWD: ALL"
    mode: 0600

- name: ufw allow 22
  become: yes
  ufw:
    rule: allow
    port: '22'
    proto: tcp

- name: ufw limit 22
  become: yes
  ufw:
    comment: "TF2 Ansible"
    rule: limit
    port: '22'
    proto: tcp

- name: ufw enable
  become: yes
  ufw:
    state: enabled
    policy: deny
    direction: incoming

- name: mkdir .ssh
  become: yes
  become_user: tf2server
  file:
    path: ~/.ssh
    state: directory
    mode: '0700'

- name: ssh keys
  become: yes
  become_user: tf2server
  ansible.posix.authorized_key:
    user: tf2server
    state: present
    key: "{{ item }}"
  loop: "{{ ssh_keys }}"

- name: etc/ssh/sshd_config
  become: yes
  lineinfile:
    dest=/etc/ssh/sshd_config
    regexp='^PasswordAuthentication'
    line="PasswordAuthentication no"
    state=present
    backup=yes

- name: systemctl restart ssh
  become: yes
  lineinfile:
    dest=/etc/ssh/sshd_config
    regexp='^PermitRootLogin'
    line="PermitRootLogin no"
    state=present
    backup=yes
  notify:
    - restart ssh
