// Hostname for server.
hostname "{{ item.name }}"

tf_classlimit 3
sv_vote_issue_classlimits_allowed 0
sv_vote_issue_classlimits_max 3

// Ask autobalance
mp_autoteambalance 0
mp_teams_unbalance_limit 1
tf_autobalance_ask_candidates_maxtime 10
tf_autobalance_dead_candidates_maxtime 0
tf_autobalance_force_candidates_maxtime 0
tf_autobalance_xp_bonus 0

sv_tags "{{ sv_tags }}"

sv_rcon_banpenalty 1440
sv_rcon_minfailures 5
sv_rcon_maxfailures 5

// Server password - for private servers.
sv_password "{{ server_password }}"

sv_lan 0
sv_region {{ sv_region }}

// Custom maps
sv_downloadurl "{{ fastdl_url }}"
sv_allowupload 0
sv_allowdownload 1

// Allow user modifications
sv_pure {{ sv_pure }}
sv_pure_kick_clients 0
sv_allow_wait_command 1

// Voice chat
sv_voiceenable 1
sv_voicecodec vaudio_celt_high

// AFK Kick after 3 mins
mp_idlemaxtime 3

// Network stuff
sv_minrate 80000
sv_minupdaterate 20
net_splitpacket_maxrate 1048576
sv_maxrate 0
sv_maxupdaterate 66
sv_mincmdrate 30
sv_maxcmdrate 66

// Server Logging
log on
sv_logbans 1
sv_logecho 1
sv_logfile 1
sv_log_onefile 0
{% if log.net_enable %}
// net log enabled
sv_logsecret {{ item.log_secret }}
{% for host in log.net_hosts %}
logaddress_add {{ host }}
{% endfor %}
{% endif %}

{% if stv_enable %}
tv_enable 1
tv_autorecord 0
tv_maxclients 5
tv_transmitall 0
tv_delaymapchange 0
tv_delay 0
tv_maxrate 0
tv_port "{{ tv_port }}"
tv_allow_camera_man 1
tv_password "{{ stv_password }}"
// Hostname
tv_name "{{ stv_name }}"
// In-game name
tv_title "{{ stv_name }}"
{% endif %}

heartbeat