"Discord"
{
        "stac"
        {
                "url"   "{{ stac_discord_webhook }}"
        }
        "calladmin"
        {
                "url"   "{{ stac_discord_webhook }}"
        }
        "sourcebans"
        {
                "url"   "{{ stac_discord_webhook }}/slack"
        }
        "sourcecomms"
        {
                "url"   "{{ stac_discord_webhook }}/slack"
        }
        "test_discord"
        {
                "url"   "{{ stac_discord_webhook }}"
        }
        "test_slack"
        {
                "url"   "{{ stac_discord_webhook }}/slack"
        }
}
