"gbans"
{
	// Remote gban server host
	"host"	"{{ gbans_host }}"

	// Remote gban server port
	"port"	"{{ gbans_port }}"

	// Unique server name for this server
	"server_name"	"{{ server_name_short }}"

	// The authentication key used to retrieve a auth token
    "server_key"	"{{ gbans_key }}"
}
