"MapLists"
{
    /**
	 * Default requests go right to the mapcyclefile.
	 */
	"default"
	{
		"target"		"mapcyclefile"
	}
	
	/* Admin menu, map menu */
	"sm_map menu"
	{
		"file"			"addons/sourcemod/configs/adminmenu_maplist.ini"
	}
	
	/* Admin menu, map voting menu */
	"sm_votemap menu"
	{
		"file"			"addons/sourcemod/configs/adminmenu_maplist.ini"
	}
	
	/* For the "randomcycle" plugin */
	"randomcycle"
	{
		"target"		"default"
	}
	
	/* For the "mapchooser" plugin */
	"mapchooser"
	{
		"target"		"default"
	}
	
	/* For the "nominations" plugin */
	"nominations"
	{
		"target"		"default"
	}
}
