// No spectators team
mp_allowspectators 0
mp_forceautoteam 1

tf_medieval 0

tf_gravetalk 1
sv_alltalk 0

sv_cheats 0
sv_pausable 0

// Remove random crits
tf_weapon_criticals 0
tf_use_fixed_weaponspreads 1

// Dont spectate other team
mp_forcecamera 1

// Extra time for map voting
mp_enableroundwaittime 1
mp_restartround 0
mp_bonusroundtime 25
mp_chattime 20

// Dont push same team
tf_avoidteammates_pushaway 0

// Rocket jump during preround
tf_preround_push_from_damage_enable 1

// Chat settings
sm_tidychat_on 1
sm_tidychat_voice 1
sm_tidychat_connect 1
sm_tidychat_disconnect 0
sm_tidychat_class 0
sm_tidychat_team 1
sm_tidychat_arena_resize 0
sm_tidychat_arena_maxstreak 0
sm_tidychat_cvar 1

// comp fixes
sm_deterministic_fall_damage 1
sm_fix_ghost_crossbow_bolts 1
sm_fix_slope_bug 1
sm_fix_sticky_delay 1

// Server voting options
sv_vote_issue_nextlevel_allowed 0
sv_vote_issue_extendlevel_allowed 0
sv_vote_issue_kick_allowed 1
sv_vote_issue_scramble_teams_allowed 0
sv_vote_kick_ban_duration 20

// Vote scramble
nano_votescramble_time 20.0
nano_votescramble_delay 180.0
nano_votescramble_chat_percentage 0.50
nano_votescramble_menu_percentage 0.60
nano_votescramble_minimum 3
nano_votescramble_skip_second_vote 1

// Reminders
ut_scramble_nag_timer 300.0
ut_rtv_nag_timer 2400.0

tf_medieval 0
tf_medieval_autorp 0

{% for k, v in autorecorder.items() %}
{{ k }} {{ v }}
{% endfor %}