// Hostname for server.
hostname "{{ item.name }}"

// RCON - remote console password.
rcon_password "{{ rcon_password }}"

// Dont spectate other team
mp_forcecamera 1

// Remove random crits
tf_weapon_criticals 0
tf_use_fixed_weaponspreads 1

// Extra time for map voting
mp_enableroundwaittime 1
mp_restartround 0
mp_bonusroundtime 15
mp_chattime 20

// No spectators team
mp_allowspectators 0
mp_forceautoteam 1

// Dont push same team
tf_avoidteammates_pushaway 0

// Rocket jump during preround
tf_preround_push_from_damage_enable 1

tf_classlimit 3
sv_vote_issue_classlimits_allowed 0
sv_vote_issue_classlimits_max 3

// Ask autobalance
mp_autoteambalance 0
mp_teams_unbalance_limit 1
tf_autobalance_ask_candidates_maxtime 10
tf_autobalance_dead_candidates_maxtime 0
tf_autobalance_force_candidates_maxtime 0
tf_autobalance_xp_bonus 0

sv_tags "{{ sv_tags }}"

sv_rcon_banpenalty 1440
sv_rcon_minfailures 5
sv_rcon_maxfailures 5

// Server password - for private servers.
sv_password "{{ server_password }}"

// Server Logging
log on
sv_logbans 1
sv_logecho 1
sv_logfile 1
sv_log_onefile 0

sv_lan 0
sv_region {{ sv_region }}

// Custom maps
sv_downloadurl "{{ fastdl_url }}"
sv_allowupload 1
sv_allowdownload 1

// Allow user modifications
sv_pure {{ sv_pure }}
sv_pure_kick_clients 0
sv_allow_wait_command 1

// Voice chat
sv_voiceenable 1
sv_voicecodec vaudio_celt_high
tf_gravetalk 1
sv_alltalk 0

sv_cheats 0
sv_pausable 0

// AFK Kick after 3 mins
mp_idlemaxtime 3

// Server voting options
sv_vote_issue_nextlevel_allowed 0
sv_vote_issue_extendlevel_allowed 0
sv_vote_issue_kick_allowed 1
sv_vote_issue_scramble_teams_allowed 0
sv_vote_kick_ban_duration 20

// Vote scramble
nano_votescramble_time 20.0
nano_votescramble_delay 180.0
nano_votescramble_chat_percentage 0.50
nano_votescramble_menu_percentage 0.60
nano_votescramble_minimum 1

// Network stuff
sv_minupdaterate 66
sv_maxupdaterate 66
sv_mincmdrate 66
sv_maxcmdrate 66
sv_minrate 100000
sv_maxrate 100000

// Chat settings
sm_tidychat_on 1
sm_tidychat_voice 1
sm_tidychat_connect 1
sm_tidychat_disconnect 0
sm_tidychat_class 0
sm_tidychat_team 1
sm_tidychat_arena_resize 0
sm_tidychat_arena_maxstreak 0
sm_tidychat_cvar 1

// comp fixes
sm_deterministic_fall_damage 1
sm_fix_ghost_crossbow_bolts 1
sm_fix_slope_bug 1
sm_fix_sticky_delay 1

{% if stv_enable %}
tv_enable 1
tv_autorecord 1
tv_maxclients 0
tv_transmitall 1
tv_delaymapchange 0
tv_delay 0
//tv_port
tv_allow_camera_man 1
tv_password {{ stv_password }}
tv_name "{{ stv_name }}"
{% endif %}
