"umc_mapcycle"
{
    {% for map_key in map_rotation %}
    "{{ map_key }}"
    {
        "maps_invote"   "4"
        {% for map in map_rotation[map_key] %}
        "{{ map }}" {}
        {% endfor %}
    }
    {% endfor %}
}
