"umc_mapcycle"
{
    "Uncletopia Map Rotation"
    {
        "maps_invote"   "4"
        
        {% for map in map_rotation[services[loop0]['rotation']] %}
        "{{ map }}" {}
        {% endfor %}
    }
}
