"umc_mapcycle"
{
    "Uncletopia Map Rotation"
    {
        "maps_invote"   "4"

        {% for map in map_rotation[services[loop0]['rotation']] %}
        "{{ map }}" {}
        {% endfor %}
    }

    "Random Choice"
    {
        "maps_invote"   "1"
        "display-template" "Mystery map!"

        {% for map in map_rotation[services[loop0]['rotation']] %}
        "{{ map }}" {
            "weight" "20"
            "nominate_flags" "z"
        }
        {% endfor %}

        {% for map in secret_rotation %}
        "{{ map[0] }}" {
            "weight" "{{ map[1] }}"
            "nominate_flags" "z"
        }
        {% endfor %}
    }
}
