global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.

scrape_configs:
  - job_name: 'prometheus'
    honor_labels: true
    static_configs:
      - targets: ['localhost:9090']
        labels:
          instance: {{ metrics_hostname }}

  - job_name: 'grafana'
    static_configs:
    - targets: ['grafana:{{ grafana.port|default(3000) }}']
      labels:
        instance: {{ metrics_hostname }}

{#  - job_name: wireguard#}
{#    static_configs:#}
{#      - targets: ['{{ metrics_hostname_internal }}:9586']#}

  - job_name: caddy
    static_configs:
      - targets: ['caddy:2019']
        labels:
          instance: {{ metrics_hostname }}

  - job_name: loki
    scrape_interval: 15s
    static_configs:
      - targets: ['{{ vpn_hosts[inventory_hostname].dns }}:{{ loki.port|default(3100) }}']
        labels:
          instance: {{ metrics_hostname }}

  - job_name: 'promtail'
    static_configs:
      - targets: ['promtail:{{ promtail.port|default(9080) }}']
        labels:
          instance: {{ metrics_hostname }}

  - job_name: 'docker'
    static_configs:
      - targets: ['{{ vpn_hosts[metrics_hostname].dns }}:9323']
        labels:
          instance: {{ metrics_hostname }}

  - job_name: 'node'
    static_configs:
{% for hostname, conf in vpn_hosts.items() %}
      - targets: ['{{ conf.ip }}:{{ node_exporter.port|default(9100) }}']
        labels:
          instance: {{ hostname }}
{% endfor %}

  - job_name: 'srcds'
    scrape_interval:     60s
    static_configs:
      - targets: ['srcds_watch:{{ srcds_watch.port|default(8899) }}']

#  - job_name: srcds-proxy
#    scrape_interval: 10s
#    metrics_path: /metrics
#    static_configs:
#      - targets: ['proxy:9000']

  - job_name: postgres
    scrape_interval: 15s
    static_configs:
      - targets: ['gbans-postgres_exporter:9187', 'bd-api-postgres_exporter:9188']
        labels:
          instance: {{ metrics_hostname }}
    metrics_path: /probe
    relabel_configs:
      - source_labels: [ __address__ ]
        target_label: __param_target
      - source_labels: [ __param_target ]
        target_label: instance

  - job_name: gbans
    scrape_interval: 15s
    metrics_path: /metrics
    static_configs:
      - targets: ['gbans-service:{{ gbans_web.http_port|default(6006) }}']
        labels:
          instance: {{ metrics_hostname }}
