--

listen_host: 0.0.0.0
listen_port: 8877

targets:
{% for hostname in groups['all'] %}
{% for item in hostvars[hostname].services %}
  - name: "{{ item.server_name_short }}"
    host: "{{ hostname }}"
    port: {{ 27015 + (loop.index0 * 10) }}
    password: "{{ item.srcds_rcon_password }}"
{% endfor %}
{% endfor %}