server:
  http_listen_port: 3200

distributor:
  receivers:
    jaeger:
      protocols:
        grpc:
    zipkin:
    otlp:
      protocols:
        grpc:
{##}
{#compactor:#}
{#  compaction:#}
{#    block_retention: 1h                # overall Tempo trace retention. set for demo purposes#}

metrics_generator:
  registry:
    external_labels:
      source: tempo

  storage:
    path: /tmp/tempo/generator/wal
    remote_write:
      - url: http://prometheus:9090/api/v1/write
        send_exemplars: true

storage:
  trace:
    backend: local                     # backend configuration to use
    wal:
      path: /tmp/tempo/wal             # where to store the the wal locally
    local:
      path: /tmp/tempo/blocks

overrides:
  metrics_generator_processors: [service-graphs, span-metrics] # enables metrics generator