---
- name: Set timezone
  become: yes
  community.general.timezone:
    name: "{{ timezone }}"

- name: Check if i386 is enabled
  become: yes
  shell: dpkg --print-foreign-architectures | grep i386
  register: result_i386_check
  changed_when: result_i386_check.rc == 0
  failed_when: result_i386_check.rc > 0

- name: Enable i386 architecture
  become: yes
  command: dpkg --add-architecture i386
  when: result_i386_check.rc == 1

- name: Install OS Dependencies
  become: yes
  apt:
    update_cache: yes
    force_apt_get: yes
    cache_valid_time: 3600
    state: present
    pkg:
      - zsh
      - curl
      - wget
      - ca-certificates
      - file
      - bsdmainutils
      - util-linux
      - python3
      - tar
      - bzip2
      - gzip
      - unzip
      - binutils
      - bc
      - jq
      - tmux
      - netcat
      - lib32gcc1
      - lib32stdc++6
      - libcurl4-gnutls-dev:i386
      - libtcmalloc-minimal4:i386
      - lib32tinfo5

- name: Download Node Exporter
  become: yes
  become_user: tf2server
  unarchive:
    src: https://github.com/prometheus/node_exporter/releases/download/v1.1.1/node_exporter-1.1.1.linux-amd64.tar.gz
    dest: ~/
    remote_src: yes
    creates: node_exporter-1.1.1

- name: Extract Node Exporter
  become: yes
  become_user: tf2server
  command: cp ~/node_exporter-1.1.1.linux-amd64/node_exporter ~/node_exporter
  args:
    creates: ~/node_exporter

- name: Create tf2server.service
  become: yes
  copy:
    src: tf2server.service
    dest: /etc/systemd/system/tf2server.service
    mode: '644'

- name: Create prometheus.service
  become: yes
  copy:
    src: node_exporter.service
    dest: /etc/systemd/system/node_exporter.service
    mode: '644'

- name: discord_log_relay download
  become: yes
  become_user: tf2server
  unarchive:
    src: https://github.com/leighmacdonald/discord_log_relay/releases/download/v1.0.2/discord_log_relay-v1.0.2-linux64.zip
    dest: ~/
    remote_src: yes

- name: discord_log_relay.service
  become: yes
  template:
    src: discord_log_relay.service.j2
    dest: /etc/systemd/system/discord_log_relay.service
    mode: '644'

- name: systemd reload
  become: yes
  systemd:
    daemon_reload: yes

- name: systemd enable prometheus
  become: yes
  systemd:
    name: node_exporter.service
    state: started
    enabled: yes

- name: systemd enable tf2server
  become: yes
  systemd:
    name: tf2server.service
    enabled: yes

- name: systemd enable discord_log_relay
  become: yes
  systemd:
    name: discord_log_relay.service
    enabled: yes
    state: restarted
