---
- name: Set timezone
  become: true
  community.general.timezone:
    name: "{{ timezone }}"

- name: Check if i386 is enabled
  ansible.builtin.shell: dpkg --print-foreign-architectures | grep i386
  register: result_i386_check
  changed_when: result_i386_check.rc == 1
  failed_when: result_i386_check.rc > 1
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'

- name: Enable i386 architecture
  become: true
  ansible.builtin.command: dpkg --add-architecture i386
  when: result_i386_check.rc == 1

- name: Install gpg
  become: true
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 0
    state: present
    pkg:
      - gpg

- name: Download docker gpg key
  become: true
  ansible.builtin.apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add specified repository into sources list
  become: true
  ansible.builtin.apt_repository:
    repo: deb https://download.docker.com/linux/ubuntu focal stable
    state: present

- name: Install OS Dependencies
  become: true
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 0
    state: present
    pkg:
      - wget
      - unzip
      - apt-transport-https
      - ca-certificates
      - gpg
      - curl
      - gnupg
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - python3-docker
      - python3-distutils
      - libc6:i386
      - lib32stdc++6

- name: Add docker group to user
  become: true
  ansible.builtin.user:
    name: tf2server
    groups: docker
    append: true
    state: present

- name: Disable irqbalance
  become: true
  ansible.builtin.systemd:
    name: irqbalance
    state: stopped
    masked: true
    enabled: false

- name: Reload systemd daemon
  become: true
  ansible.builtin.systemd:
    daemon_reload: true

- name: Enable docker service
  become: true
  ansible.builtin.systemd:
    name: docker
    state: started
    enabled: true

- name: Enable UFW
  become: true
  ansible.builtin.ufw:
    state: reloaded
    policy: deny
  when: ansible_distribution == 'Ubuntu'

- name: Create a directory if it does not exist
  become: true
  ansible.builtin.file:
    path: /replays
    state: directory
    mode: '0777'

- name: replays-fw
  become: true
  ansible.builtin.ufw:
    rule: allow
    port: "27800"
    proto: tcp

- name: Generate /etc/Caddyfile_replays
  become: true
  ansible.builtin.template:
    src: Caddyfile.j2
    dest: /etc/Caddyfile_replays
    mode: 0775

- name: caddy_data_replays volume
  docker_volume:
    name: caddy_data_replays
    state: present

- name: caddy_config_replays volume
  docker_volume:
    name: caddy_config_replays
    state: present

- name: replays-fw-80
  become: true
  ansible.builtin.ufw:
    rule: allow
    port: "80"
    proto: tcp

- name: replays-fw-443
  become: true
  ansible.builtin.ufw:
    rule: allow
    port: "443"
    proto: tcp

- name: replays-fw-27800
  become: true
  ansible.builtin.ufw:
    rule: allow
    port: "27800"
    proto: tcp

- name: Create caddy container
  docker_container:
    name: replays-caddy
    image: slothcroissant/caddy-cloudflaredns:latest
    restart: true
    recreate: true
    network_mode: 'host'
    purge_networks: true
    restart_policy: always
    pull: true
    volumes:
      - caddy_data_replays:/data
      - caddy_config_replays:/config
      - /etc/Caddyfile_replays:/etc/caddy/Caddyfile
      - /replays:/replays
    exposed_ports: ["443", "80"]
    env:
      CLOUDFLARE_EMAIL: "{{ caddy.cloudflare.email }}"
      CLOUDFLARE_API_TOKEN: "{{ caddy.cloudflare.api_key }}"
      ACME_AGREE: "true"
    ports:
      - 27800:27800
