---
- name: Create caddy_net network
  community.docker.docker_network:
    name: caddy_net

- name: Install postgres
  import_tasks: postgres.yml

- name: Install minio
  import_tasks: minio.yml

- name: Install gbans
  import_tasks: gbans.yml

- name: Install tf2bdd
  import_tasks: tf2bdd.yml

- name: Install bd-api
  import_tasks: bd-api.yml
