// Hostname for server.
hostname "{{ item.name | default(srcds_hostname) }}"

tf_classlimit {{ item.tf_classlimit|default(3) }}
sv_vote_issue_classlimits_allowed 0
sv_vote_issue_classlimits_max 3

// Ask autobalance
mp_autoteambalance 0
mp_teams_unbalance_limit 1
tf_autobalance_ask_candidates_maxtime 10
tf_autobalance_dead_candidates_maxtime 0
tf_autobalance_force_candidates_maxtime 0
tf_autobalance_xp_bonus 0

sv_tags "{{ sv_tags }}"

sv_rcon_banpenalty 1440
sv_rcon_minfailures 5
sv_rcon_maxfailures 5

// Server password - for private servers.
sv_password "{{ srcds_server_password }}"

sv_lan 0
sv_region {{ srcds_region }}

// Custom maps
sv_downloadurl "{{ fastdl_url }}"
sv_allowupload 0
sv_allowdownload 0

// Allow user modifications
sv_pure {{ sv_pure }}
sv_pure_kick_clients 0
sv_allow_wait_command 1

// Voice chat
sv_voiceenable 1
// celt causes crashes for many linux users. This is easier than telling people how to fix it.
// sv_voicecodec vaudio_celt
sv_voicecodec steam

// AFK Kick after 3 mins
mp_idlemaxtime 3

// Network stuff
{#sv_minrate 3500#}
{#net_splitpacket_maxrate 131072#}
{#sv_maxrate 0#}
{#sv_maxupdaterate 66#}
{#sv_mincmdrate 10#}
{#sv_maxcmdrate 66#}

sv_visiblemaxplayers 24

heartbeat