UncleDanePVE
{
	Names
	{
{% for name in pve.names %}
		"{{ loop.index }}"  "{{ name }}"
{% endfor %}
	}

	Difficulty 3
	Class "engineer"

	// Specify custom player attributes for bots.
	Attributes
	{
{% for attr, value in pve.bot_attrs.items() %}
		"{{ attr }}"               {{ value }}
{% endfor %}
	}

	// Customize what weapons bots are going to use
	Weapons
	{
		// List of weapons, that bots can use
		// in their primary slots. The final weapon
		// is chosen randomly between all of these.
		Primary
		{
			// They can use a regular shotgun
			Weapon 199

			// Or they can use The WidowMaker
			Weapon 527

			// Or Frontier Justice
			Weapon 141
		}

		Melee
		{
			// All bots carry Frying Pan in their melee
			// slot.
			Weapon 264
		}

		// Secondary slot entry is missing. This means bot will
		// use the stock option for their Secondary slot (Pistol).
	}

	Cosmetics
	{
		// Insulated Inventor
		Cosmetic
		{
			Index 30539
			Attributes
			{
				"set item tint RGB" 	15132390
				"set item tint RGB 2" 	15132390
			}
		}

		// The Danger
		Cosmetic
		{
			Index 30420
			Attributes
			{
				"set item tint RGB" 	15132390
				"set item tint RGB 2" 	15132390
			}
		}

		// The Gold Digger
		Cosmetic
		{
			Index 30172
			Attributes
			{
				"set item tint RGB" 	15132390
				"set item tint RGB 2" 	15132390
			}
		}
	}
}