"Databases"
{
    "storage-local"
    {
        "driver"            "sqlite"
        "database"            "sourcemod-local"
    }

    "mgemod"
    {
        "driver"            "pgsql"
        "host"                "{{ sourcemod_db_host|default("localhost") }}"
        "database"            "{{ sourcemod_db_database|default("gbans") }}"
        "user"                "{{ sourcemod_db_username|default("sourcemod") }}"
        "pass"                "{{ sourcemod_db_password|default("sourcemod") }}"
        //"timeout"            "0"
        "port"            "{{ sourcemod_db_port|default(5432) }}"
    }

    "clientprefs"
    {
        "driver"            "pgsql"
        "host"                "{{ sourcemod_db_host|default("localhost") }}"
        "database"            "{{ sourcemod_db_database|default("gbans") }}"
        "user"                "{{ sourcemod_db_username|default("sourcemod") }}"
        "pass"                "{{ sourcemod_db_password|default("sourcemod") }}"
        //"timeout"            "0"
        "port"            "{{ sourcemod_db_port|default(5432) }}"
    }
}