"Discord"
{
    "crash"
    {
        "url"   "{{ sourcemod_discord.crash_webhook }}"
    }
    "stac"
    {
        "url"   "{{ sourcemod_discord.stac_webhook }}"
    }
    "calladmin"
    {
        "url"   "{{ sourcemod_discord.calladmin_webhook|default(sourcemod_discord.stac_webhook) }}"
    }
    "sourcebans"
    {
        "url"   "{{ sourcemod_discord.stac_webhook }}/slack"
    }
    "sourcecomms"
    {
        "url"   "{{ sourcemod_discord.stac_webhook }}/slack"
    }
    "test_discord"
    {
        "url"   "{{ sourcemod_discord.stac_webhook }}"
    }
    "test_slack"
    {
        "url"   "{{ sourcemod_discord.stac_webhook }}/slack"
    }
}
