#!/bin/bash
cd "{{srcds_steam_app_dir}}"

{% for name in item.plugins_disabled|default(plugins_disabled) %}
F={{srcds_steam_app_dir}}/tf/addons/sourcemod/plugins/{{ name }}
if test -f "$F"; then
    echo "Disabling plugin $F"
    mv -v "$F" {{srcds_steam_app_dir}}/tf/addons/sourcemod/plugins/disabled/
fi
{% endfor %}

{% for name in item.extensions_disabled|default(extensions_disabled) %}
E={{srcds_steam_app_dir}}/tf/addons/sourcemod/extensions/{{ name }}
if test -f "$E"; then
    echo "Disabling extension $E"
    mv -v "$E" {{srcds_steam_app_dir}}/tf/addons/sourcemod/plugins/disabled/
fi
{% endfor %}

bash "{{srcds_steam_app_dir}}/srcds_run" -game "{{srcds_steam_app}}" -console \
  -strictportbind \
  -usercon \
  -secured \
  -port "{{ srcds_base_port + (loop0 * 10) }}" \
  +tv_port "{{ srcds_base_port + (loop0 * 10) + 1 }}" \
  +clientport "{{ srcds_base_port + (loop0 * 10) + 2 }}" \
  {% if item.srcds_max_players|default(srcds_max_players) > 33 %}-unrestricted_maxplayers{% endif %} \
  +maxplayers {{ item.srcds_max_players|default(srcds_max_players) }} \
  +map "{{ map_rotation[item.rotation|default("all")] | random }}" \
  +sv_setsteamaccount "{{ item.gslt }}" \
  +rcon_password "{{ item.srcds_rcon_password | default(srcds_rcon_password) }}" \
  +sv_password "{{ item.srcds_server_password | default(srcds_server_password) }}" \
  +sv_region "{{ srcds_region | quote }}" \
  {% if ip != "" %}+ip {{ ip }} {% endif %} \
  {% if srcds_use_sdr %}-enablefakeip {% endif %} \
  -authkey "{{ srcds_workshop_auth_key }}"
