sm_vote_alltalk "{{ sm_vote_alltalk|default(0.60) }}"
sm_vote_burn "{{ sm_vote_burn|default(0.60) }}"
sm_vote_ff "{{ sm_vote_ff|default(0.60) }}"
sm_vote_gravity "{{ sm_vote_gravity|default(0.60) }}"
sm_vote_slay "{{ sm_vote_slay|default(0.60) }}"
