mgemod_fraglimit 3
mgemod_allowed_classes "scout soldier pyro demoman heavy engineer medic sniper spy"
mgemod_blockdmg_fall 0
mgemod_dbconfig mgemod
mgemod_stats 1
mgemod_airshot_height 80
mgemod_endif_force_x 1.1
mgemod_endif_force_y 1.1
mgemod_endif_force_z 2.15
mgemod_autocvar 1
mgemod_bball_particle_red player_intel_trail_red
mgemod_bball_particle_blue player_intel_trail_blue
mgemod_midair_hp 5
mgemod_hide_rating 1
mgemod_reconnect_interval 5
mgemod_spawnfile "configs/mgemod_spawns.cfg"
