log on
mp_logdetail "3"

sv_minrate 100000
sv_maxrate 0
sv_maxupdaterate 66
sv_minupdaterate 20
sv_maxcmdrate 66
sv_mincmdrate 30

sv_client_cmdrate_difference "20"
net_splitpacket_maxrate	"100000"

// Force client values to be in range
sv_competitive_minspec 1
// Community servers can enable use of the older steam voice codec with sv_use_steam_voice 1
// sv_use_steam_voice 0

sv_client_min_interp_ratio 1
sv_client_max_interp_ratio 2

{% if stv_enable %}
tv_enable 1
tv_autorecord 0
tv_maxclients 5
tv_transmitall 1
tv_delaymapchange 0
tv_delay 0
tv_maxrate 0
tv_port "{{ srcds_base_port + (loop0 * 10) + 1 }}"
tv_allow_camera_man 1
tv_password "{{ stv_password }}"
// Hostname
tv_name "{{ item.name }} | STV"
// In-game name
tv_title "{{ stv_name }}"
{% endif %}

// Server Logging
sv_logbans 1
sv_logecho 0
sv_logfile 0
sv_log_onefile 0
{% if log.net_enable %}
// net log enabled
sv_logsecret {{ item.log_secret }}
{% for host in log.net_hosts %}
logaddress_add {{ host }}
{% endfor %}
{% endif %}

// No spectators team
mp_allowspectators 0
mp_forceautoteam 1

tf_medieval 0
tf_medieval_autorp 0

tf_gravetalk 1
sv_alltalk 0

sv_cheats 0
sv_pausable 0

tf_ctf_bonus_time 0

// Remove random crits
tf_weapon_criticals 0
tf_use_fixed_weaponspreads 1

// Dont spectate other team
mp_forcecamera 1

// Extra time for map voting
mp_enableroundwaittime 1
mp_restartround 0
mp_bonusroundtime 19
mp_chattime 20

// Dont push same team
tf_avoidteammates_pushaway 0

// Rocket jump during preround
tf_preround_push_from_damage_enable 1

// Chat settings
sm_tidychat_on 1
sm_tidychat_voice 1
sm_tidychat_connect 1
sm_tidychat_disconnect 0
sm_tidychat_class 0
sm_tidychat_team 1
sm_tidychat_arena_resize 0
sm_tidychat_arena_maxstreak 0
sm_tidychat_cvar 1

// comp fixes
sm_deterministic_fall_damage 1
sm_fix_ghost_crossbow_bolts 1
sm_fix_slope_bug 1
sm_fix_sticky_delay 1
sm_fix_reflect_self_damage 1
sm_inhibit_extendfreeze 1
sm_gunboats_always_apply 1

// Server voting options
sv_vote_issue_nextlevel_allowed 0
sv_vote_issue_extendlevel_allowed 0
sv_vote_issue_kick_allowed 1
sv_vote_issue_scramble_teams_allowed 0
sv_vote_kick_ban_duration 20

// Vote scramble
nano_votescramble_time 20.0
nano_votescramble_delay 180.0
nano_votescramble_chat_percentage 0.50
nano_votescramble_menu_percentage 0.60
nano_votescramble_minimum 3
nano_votescramble_skip_second_vote 1

// Reminders
ut_scramble_nag_timer 300.0
ut_rtv_nag_timer 2400.0

// Dont spectate other team

// Ask autobalance
mp_autoteambalance 0
mp_teams_unbalance_limit 1
tf_autobalance_ask_candidates_maxtime 10
tf_autobalance_dead_candidates_maxtime 0
tf_autobalance_force_candidates_maxtime 0
tf_autobalance_xp_bonus 0

// Default map time limit
mp_timelimit 30
mp_match_end_at_timelimit 0
mp_winlimit 0
mp_maxrounds 0


// Beginning round time
sm_cvar mp_waitingforplayers_time 35

// Extra time for map voting
mp_enableroundwaittime 1
mp_restartround 0

mp_chattime 20

// No spectators team
mp_allowspectators 0
mp_forceautoteam 1

// Dont push same team
tf_avoidteammates_pushaway 0

// Rocket jump during preround
tf_preround_push_from_damage_enable 1


// Class limit
sm_classrestrict_enabled 1
sm_classrestrict_immunity 0

sm_classrestrict_blu_demomen 3
sm_classrestrict_blu_engineers 3
sm_classrestrict_blu_heavies 3
sm_classrestrict_blu_medics 3
sm_classrestrict_blu_pyros 3
sm_classrestrict_blu_scouts 3
sm_classrestrict_blu_snipers 3
sm_classrestrict_blu_soldiers 3
sm_classrestrict_blu_spies 3

sm_classrestrict_red_demomen 3
sm_classrestrict_red_engineers 3
sm_classrestrict_red_heavies 3
sm_classrestrict_red_medics 3
sm_classrestrict_red_pyros 3
sm_classrestrict_red_scouts 3
sm_classrestrict_red_snipers 3
sm_classrestrict_red_soldiers 3
sm_classrestrict_red_spies 3

tf_classlimit 3
sv_vote_issue_classlimits_allowed 0
sv_vote_issue_classlimits_max 3

// Disable stalemates
mp_stalemate_enable 0
mp_stalemate_timelimit 240

net_disconnect_reason 1
tf_fall_damage_disablespread 1
net_chan_limit_msec 160

// FIXME
sm_cvar sm_mapvote_curate {% if item.rotation|default("all") == "all" %}1{% else %}0{% endif %}

// Disable glow for the more "serious" servers running stopwatch
tf_spawn_glows_duration {% if item.rotation|default("all") == "stopwatch" %}0{% else %}10{% endif %}

// Stopwatch switches
mp_match_end_at_timelimit {% if item.rotation|default("all") == "stopwatch" %}1{% else %}0{% endif %}

sm_cvar gb_rules_round_time {% if item.rotation|default("all") == "stopwatch" %}300{% else %}-1{% endif %}
