
//-------------
//This config file is executed once when the extension is loaded
//-------------

sig_cvar_autosave	"0"		// Should ConVar values automatically be saved on disk during mod unload
sig_perf_attributes_optimize	"1"		// Mod: improve attributes performance
sig_perf_css_bot_vision_optimize    "1" // Mod: Optimize CS:S bot vision performance, but makes it also slighty less accurate
sig_perf_filesystem_optimize    "0"     // Mod: alter case insensitive search of loose files so that it simply looks for all lowercase path instead
sig_cvar_perf_input_optimize_print_debug	"1"		// Print debug messages to admins
sig_perf_input_optimize	"1"		// Mod: Optimize input/output entity links
sig_perf_hltv_rate_between_rounds	"8"		// Source TV snapshotrate between rounds
sig_perf_hltv_optimize	"1"		// Mod: improve HLTV performance
sig_perf_flame_breakable_collision	"1"		// Mod: improve MvM flame entity performance by eliding func_breakable classname lookups
sig_perf_medigun_shield_damage_events	"0"		// Mod: prevent "player_hurt" and "npc_hurt" game events from firing due to medigun shield damage
sig_perf_medigun_shield_damage_interval	"1"		// Mod: change the medigun shield damage interval to values greater than every single tick
sig_perf_mvm_load_popfile	"1"		// Mod: eliminate unnecessary duplication of parsing/init code during tf_mvm_popfile
sig_threads_par	"1"
sig_perf_sendprop_optimize	"1"		// Mod: improve sendprop encoding performance by preventing full updates on clients
sig_perf_smokestack_fs_thrash	"1"		// Mod: fix map load delays caused by filesystem thrashing from env_smokestack entities
sig_perf_squad_escort_optimize	"1"		// Mod: improve squad escort performance by reducing update frequency
sig_perf_virtual_call_optimize	"1"		// Mod: Optimize common virtual calls
sig_perf_virtual_call_optimize_inline_virtuals	"0"		// Mod: Optimize common virtual calls with experimental function inline
sig_perf_func_optimize	"1"		// Mod: Optimize common calls
