
//-------------
//This config file is executed once when the extension is loaded
//-------------
sig_cvar_autosave	"0"		// Should ConVar values automatically be saved on disk during mod unload
sig_color_console	"0"		// Enable color console output
sig_ai_my_nextbot "1" // Mod: Add new NPC $bot_npc entity
sig_ai_lag_compensation_npc "0" // Mod: Lag compensate all NPC entities such as bosses, zombies etc
sig_allow_user_debug_commands "0" // Allow non admin users to run debug (sig_cpu_usage, sig_print_input) commands
sig_util_lua	"1"		// Mod: Lua
sig_perf_attributes_optimize	"1"		// Mod: improve attributes performance
sig_perf_filesystem_optimize    "0"     // Mod: alter case insensitive search of loose files so that it simply looks for all lowercase path instead
sig_cvar_perf_input_optimize_print_debug	"0"		// Print debug messages to admins
sig_perf_input_optimize	"1"		// Mod: Optimize input/output entity links
sig_perf_hltv_rate_between_rounds	"8"		// Source TV snapshotrate between rounds
sig_perf_hltv_optimize	"1"		// Mod: improve HLTV performance
sig_perf_flame_breakable_collision	"1"		// Mod: improve MvM flame entity performance by eliding func_breakable classname lookups
sig_perf_medigun_shield_damage_events	"0"		// Mod: prevent "player_hurt" and "npc_hurt" game events from firing due to medigun shield damage
sig_perf_medigun_shield_damage_interval	"1"		// Mod: change the medigun shield damage interval to values greater than every single tick
sig_perf_mvm_load_popfile	"1"		// Mod: eliminate unnecessary duplication of parsing/init code during tf_mvm_popfile
sig_perf_sendprop_optimize	"1"		// Mod: improve sendprop encoding performance by preventing full updates on clients
sig_network_threads "2" // Additional threads used for networking
sig_perf_smokestack_fs_thrash	"1"		// Mod: fix map load delays caused by filesystem thrashing from env_smokestack entities
sig_perf_squad_escort_optimize	"1"		// Mod: improve squad escort performance by reducing update frequency
sig_perf_virtual_call_optimize	"1"		// Mod: Optimize common virtual calls
sig_perf_virtual_call_optimize_inline_virtuals	"0"		// Mod: Optimize common virtual calls with experimental function inline
sig_perf_func_optimize	"1"		// Mod: Optimize common calls
sig_attr_blockbackstab_oldstyle	"0"		// Mod: make attribute "set_blockbackstab_once" on non-Razorback items behave as it did before the Jungle Inferno update (i.e. remove the item when stabbed)
sig_attr_customprojectilemodel_precache	"1"		// Mod: do automatic model precaching of "custom projectile model" attr values instead of crashing the server
sig_attr_healonkill_overheal_melee	"1"		// Mod: re-enable overheal from the "heal_on_kill" attribute for melee weapons
sig_attr_undocumented_parachute_disable	"0"
sig_attr_undocumented_fires_milk_bolts	"0"
sig_attr_undocumented_force_distribute_currency_on_death	"0"
sig_attr_undocumented	"0"		// Mod: enable undocumented attribute classes
sig_attr_display	"1"		// Enable displaying custom attributes on the right side of the screen
sig_attr_custom	"1"		// Mod: enable custom attributes
sig_attr_speed_health_ammo_recalculate "1" // Mod: Recalculate current health, ammo, move speed when attribute changes. May affect other plugins. Requires sig_attr_custom 1
sig_bot_player_slot_reorder "1"		// Mod: Reorder player slots for bots so that bots use last slots
sig_cond_enhanced_cmds	"0"		// Mod: enhance addcond and removecond
sig_cond_reprogrammed_hellmet	"1"		// Mod: make some tweaks to TF_COND_REPROGRAMMED that Hell-met requested
sig_cond_reprogrammed	"1"		// Mod: reimplement TF_COND_REPROGRAMMED
sig_cond_reprogrammed_neutral_spy_disguise "1" // Make neutral bots ignore disguised spies
sig_demo_stringtable_limit	"0"		// Mod: override 512KB string table limit in demos
sig_etc_allow_civilian_class "0"	// Mod: allow civilian class to be picked
sig_etc_crayairblast_convar_nocheat	"1"		// Mod: remove the FCVAR_CHEAT flag from the Cray Airblast enable and tuning convars
sig_etc_deflect_rocket_spew	"0"		// Mod: intentionally cause multiple rocket breakmodels to spew forth when projectile deflection occurs
sig_etc_heat_seeking_rockets	"0"		// Etc: enable heat-seeking rockets
sig_etc_hltv_notify_clients	"0"		// Mod: Notify players about connecting Source TV spectators
sig_etc_hltv_client_interact	"1"		// Mod: allow HLTV clients to interact with server players
sig_etc_holiday_items_allow	"0"		// Mod: allow holiday-restricted loadout items regardless of the holiday state
sig_huntsman_charge_time_upgrade_ratio	"1"		// Charge time upgrade ratio
sig_etc_huntsman_damage_fix	"0"		// Mod: fix the bug causing Huntsman base damage to be unaffected by multiplier attributes
sig_mvm_body_scale_speed	"1"		// Body scale speed mult
sig_etc_instant_scaling	"1"		// Mod: make hand/head/torso scaling instantaneous in MvM mode
sig_etc_laserdot_fix	"1"		// Mod: client-side fix for env_laserdot drawing the sniper laser particle
sig_etc_limp_projectiles	"0"		// Etc: make projectiles come out in a disappointingly limp fashion
sig_etc_loose_cannon_damage_fix	"1"		// Mod: fix the Tough Break update change that made Loose Cannon projectile impact damage unaffected by multipliers
sig_etc_fast_entity_name_lookup	"1"		// Converts all entity names to lowercase for faster lookup
sig_etc_path_track_is_server_entity	"1"		// Mod: make path_track a server entity, which saves edicts
sig_etc_mapentity_additions	"1"		// Mod: tell maps that sigsegv extension is loaded
sig_etc_medicgun_beam_machinery	"0"		// Etc: enable CBaseObject entities as heal beam targets
sig_etc_melee_ignore_teammates	"1"		// Mod: allow melee traces to pass through teammates (for anyone, not just MvM blu team players)
sig_etc_hhh_health_bar "1" // Mod: Display boss health bar on HHH
sig_etc_sentry_buster_particle_change "1" // Mod: Replace sentry buster smoke with payload bomb particles
sig_etc_misc	"1"		// Mod:
    // Disables reflection of Dragon's Fury projectiles in MvM gamemode
    // Automatically destroy oldest disposable sentry when building new one
    // Fixes:
    // Snap unreachable dropped mvm bomb to last nav area
    // Fix unowned sentry's rockets not dealing damage
    // Fix penetration arrows colliding with bounding boxes of various entities
    // Fix specific CFuncIllusionary crash
    // Fix stun disappearing weapons
    // Fix crash with firing too many arrows
    // Fix crash when trying to detonate non grenades on pipebomb launcher
sig_etc_max_total_script_files_count	"100000"		// Mod: Max total count of files created by vscript
sig_etc_mm_spoof_mode	"-1"		// Mod: spoof mode
sig_etc_mm_spoof	"0"		// Mod: spoof a server into using Valve's matchmaking gamemodes
sig_etc_nav_updateblocked	"0"		// Etc: make CTFNavArea::UpdateBlocked chain to CNavArea::UpdateBlocked instead of doing NOTHING
sig_etc_nav_updateblocked_visualize	"0"		// Etc: draw blocked and non-blocked nav areas
sig_etc_override_speed_limit_value	"-1"		// Etc: player movement speed limit when overridden (use -1 for no limit)
sig_etc_override_speed_limit	"0"		// Etc: override the 520 HU/s player move speed limit
sig_etc_player_bullet_bounding_fix	"0"		// Mod: fix player bounding issues with bullets
sig_etc_ratelimit_exclude_commands	""		// Mod: space-delimited list of commands to exclude from ratelimiting
sig_etc_ratelimit_exclude	"0"		// Mod: exclude selected client commands from server-side ratelimiting
sig_etc_allow_wait_command	"1"		// Mod: always allow wait command on server
sig_etc_sendprop_override_extension "0" // Mod: Force load buildin proxysend/sendproxy extension. Loaded automatically when proxysend extension is detected in extensions
sig_etc_suppress_nb_event_messages	"0"		// Mod: suppress NextBot event RESULT_CRITICAL collision console messages
sig_etc_target_changegravity_improved	"0"		// Mod: improve the target_changegravity entity so that it's actually usable
sig_etc_vehicle_fix	"1"		// Etc: fix prop_vehicle_driveable
sig_etc_weapon_mimic_teamnum	"1"		// Mod: weapon mimic teamnum fix
sig_etc_trigger_filter_fix	"1"		// Mod: Deleted entities trigger filtering crash fix
sig_etc_unintended_class_weapon_viewmodel 0 // Mod: use proper class viewmodel animations for unintended player class weapons
sig_etc_unintended_class_weapon_player_model 0 // Mod: use proper class player animations for unintended player class weapons
sig_etc_unintended_class_weapon_fix_ammo 1 // Mod: fix max ammo count for unintented player class weapons
sig_etc_unintended_class_weapon_display_meters 1 // Mod: display meters for unintended player class weapons
sig_etc_unintended_class_weapon_improvements 1 // Mod: allow all classes to fully benefit from shield, eyelander, tf_weapon_builder, and others. Must be set for the above 4 convars to work
sig_etc_extra_player_slots_count	"101"		// Extra player slot count. Requires map restart to function
sig_etc_extra_player_slots_allow_bots	"0"		// Allow bots to use extra player slots
sig_etc_extra_player_slots_voice_display_fix	"1"		// Fixes voice chat indicator showing with more than 64 slots
sig_etc_extra_player_slots_no_death_cam	"1"		// Does not display death cam when killed by players in extra slots
sig_etc_extra_player_slots	"0"		// Mod: allows usage of extra player slots
sig_etc_extra_player_slots_show_player_names 0 // Show player names in extra player slots when mouse over
sig_etc_entity_limit_manager_viewmodel	"1"		// Remove usused offhand viewmodel entity for other classes than spy
sig_etc_entity_limit_manager_remove_expressions	"1"		// Remove expressions for bots (like yelling when firing minigun). Reduces entity count by 1 per bot
sig_etc_entity_limit_manager	"1"		// Mod: automatically remove entities as the limit is reached
sig_etc_entity_limit_manager_convert_server_entity 1 // Mod: convert some entities to serverside entities to save edicts
sig_prof_frame_prof	"0"		// Mod: show frame time %
sig_sniper_charge_uncap	"0"		// Mod: remove the 200 percent upper limit on sniper rifle charge rate
sig_sniper_head_uncap	"0"		// Mod: remove the 6-head cap on the Bazaar Bargain
sig_tank_gunslinger_combo	"1"		// Tank: enable gunslinger 3-punch combo functionality
sig_util_client_cmds	"0"		// Utility: enable client cheat commands
sig_util_client_cmds_adminonly	"1"		// Utility: restrict this mod's functionality to SM admins only
sig_util_client_cmds_show_cpu_min_level	"99"		// Minimum cpu usage percentage to start displaying to admins by default
sig_util_confilter	"1"		// Utility: enable enhanced console message filtering system
sig_util_dtwarning_use_cvar	"0"		// Utility: make the dtwarning engine cvar actually control whether DataTable_Warning prints messages
sig_util_listenserverhost_index	"1"		// Entity index of the "listen server host" player
sig_util_listenserverhost	"0"		// Utility: override UTIL_GetListenServerHost on a dedicated server
sig_util_make_item	"1"		// Utility: enable sig_makeitem_* client commands
sig_util_make_item_adminonly	"1"		// Utility: restrict this mod's functionality to SM admins only
