#!/usr/bin/env bash
{% if restart_notice|default(true) %}
tmux -S ./tmux.sock send -t "{{ item.server_name_short }}" "sm_csay Server restart in 60 seconds" ENTER
sleep 30
tmux -S ./tmux.sock send -t "{{ item.server_name_short }}" "sm_csay Server restart in 30 seconds" ENTER
sleep 27
tmux -S ./tmux.sock send -t "{{ item.server_name_short }}" "sm_csay Server restart in 3 seconds" ENTER
sleep 1
tmux -S ./tmux.sock send -t "{{ item.server_name_short }}" "sm_csay Server restart in 2 seconds" ENTER
sleep 1
tmux -S ./tmux.sock send -t "{{ item.server_name_short }}" "sm_csay Server restart in 1 seconds" ENTER
sleep 1
{% endif %}

tmux -S ./tmux.sock send -t "{{ item.server_name_short }}" "exit" ENTER
sleep 1
tmux -S ./tmux.sock kill-session -t "{{ item.server_name_short }}"