[Interface]
PrivateKey = {{ vpn.private_key }}
Address = {{ vpn.client_addr }}
ListenPort = {{ vpn_port }}


{% for v in hostvars %}
{% if hostvars[v].is_vpn_client %}
## {{ hostvars[v].services[0].server_name_short }}

[Peer]
## Desktop/client VPN public key ##
PublicKey = {{ hostvars[v].vpn.public_key }}
 
## client VPN IP address (note  the /32 subnet) ##
AllowedIPs = {{ hostvars[v].vpn.client_addr }}

{% endif %}
{% endfor %}