dsn: "postgresql://bdapi:bdapi@bdapi-postgres:5432/bdapi"
run_mode: release
private_key_path: "./private.key"
private_key_password: "{{ bdapi_private_key_password }}"
steam_api_key:
  - "{{ steam_key }}" #prod
  - "{{ steam_key_alt }}" #dev
encryption_key: {{ bdapi_encryption_key }}
http_secret: {{ bdapi_http_secret }}
listen_addr: ":8888"
external_url: "{{ bdapi_external_url }}"
logstf_scraper_enabled: true
sourcebans_scraper_enabled: true
rgl_scraper_enabled: true
etf2l_scraper_enabled: true
scrape_delay: "{{ bdapi_scrape_delay }}"
log_file_enabled: false
log_file_path: "bdapi.log"
# One of: debug, info, warn, error, dpanic, panic, fatal
log_level: "info"
cache_dir: "./.cache/"
proxies_enabled: true
proxies:
{% for hostname, conf in vpn_hosts.items() %}
  - username: tf2server
    remote_addr: "{{ conf.dns }}:22"
    local_addr: "localhost:{{ loop.index0 + 3000 }}"
{% endfor %}
