# tf2bdd master config file.
# Uncommented lines have no default values and must be set. Defaults are otherwise shown commented out.

# Your steam API key. Used to resolve vanity names.
# https://steamcommunity.com/dev/apikey
steam_key: "{{ tf2bdd_steam_key }}"

# Path to the sqlite database.
database_path: "{{ tf2bdd_database_path|default("/app/db.sqlite") }}"

# Discord bot can be created @ https://discord.com/developers/applications
# Public client ID of your bot. Used to identify it and generate the invite link.
discord_client_id: "{{ tf2bdd_discord_client_id }}"
# Your private bot token used to authenticate it.
discord_bot_token: "{{ tf2bdd_discord_bot_token }}"
# A list of discord role ids allowed to interact with the non read-only commands
# Enable developer mode: User Settings -> Advanced -> Developer Mode
# Then go to: Server Settings -> Roles -> Right click a role -> Copy Role ID
# Example: discord_roles: [123456789, 234567890]
discord_roles: {{ tf2bdd_discord_roles }}

# The URL that people can reach your server through, for example if you have a reverse proxy
# server in-front of the app (recommended). This is used to generate the correct update_url.
# This must include the scheme prefix and port if using a non-standard one eg: https://example.com
external_url: "{{ tf2bdd_external_url }}"

# IP/Address to listen on, leave empty for any.
listen_host: "{{ tf2bdd_listen_host|default("0.0.0.0") }}"
# Port to listen on.
listen_port: {{ tf2bdd_listen_port|default(8899) }}

# Name of your list.
list_title: "{{ tf2bdd_list_title|default("Bot List") }}"

# Description of your list.
list_description: "{{ tf2bdd_list_title|default("Custom bot list") }}"

# List of names of people who contribute to the list.
list_authors: "{{ tf2bdd_list_authors|default([]) }}"

# Used to filter out matches that dont have at least one of the listed attributes
# If empty, all known results are returned.
# For example, If you only wanted to export players with the "cheaters" or "bot" tag and not people
# that are marked "suspicious", you would use ["cheaters", "bot"]
exported_attrs: {{ tf2bdd_exported_attrs|default([]) }}
