apiVersion: 1

providers:
  - name: 'uncletopia'
    orgId: 1
#    folder: 'general'
#    folderUid: 'general'
    type: file
    disableDeletion: false
    allowUiUpdates: true
    options:
      path: /etc/grafana_dashboards/dashboards
