target: all,alertmanager,overrides-exporter

common:
  storage:
    backend: s3
    s3:
      endpoint: minio:9000
      access_key_id: {{ minio.user | default(mimir) }}
      secret_access_key: {{ minio.password | default(mimir) }}
      insecure: true
      bucket_name: mimir

blocks_storage:
  storage_prefix: blocks
  tsdb:
    dir: /data/ingester

#memberlist:
#  join_members: [ mimir-1 ]

#compactor:
#  data_dir: /data/mimir/compactor
#  sharding_ring:
#    kvstore:
#      store: memberlist
#
#distributor:
#  ring:
#    instance_addr: 127.0.0.1
#    kvstore:
#      store: memberlist
#
#ingester:
#  ring:
#    instance_addr: 127.0.0.1
#    kvstore:
#      store: memberlist
#    replication_factor: 1
#

server:
  http_listen_port: 9009
  log_level: info

store_gateway:
  sharding_ring:
    replication_factor: 1
