global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.

# Send to remote mimir storage
#remote_write:
#  - url: http://mimir:9009/api/v1/push
#    headers:
#      X-Scope-OrgID: "ut"

scrape_configs:
  - job_name: 'prometheus'
    honor_labels: true
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'grafana'
    static_configs:
    - targets: ['grafana:3000']

  - job_name: wireguard
    static_configs:
      - targets: ['{{ metrics_hostname_internal }}:9586']

  - job_name: caddy
    static_configs:
      - targets: ['caddy:2019']

  - job_name: 'cadvisor'
    static_configs:
{% for hostname, conf in vpn_hosts.items() %}
      - targets: ['{{ conf.dns }}:8080']
        labels:
          instance: {{ hostname }}
{% endfor %}
  - job_name: 'docker'
    static_configs:
{% for hostname, conf in vpn_hosts.items() %}
      - targets: ['{{ conf.dns }}:9100']
        labels:
          instance: {{ hostname }}
{% endfor %}

  - job_name: 'node'
    static_configs:
{% for hostname, conf in vpn_hosts.items() %}
      - targets: ['{{ conf.dns }}:9100']
        labels:
          instance: {{ hostname }}
{% endfor %}

{#    http_sd_configs:#}
{#      - url: '{{ service_discovery.prometheus }}'#}

#  - job_name: srcds
#    scrape_interval: 60s
#    static_configs:
#      - targets: ['gbans-srcds_exporter:9137']
#
#  - job_name: srcds-proxy
#    scrape_interval: 10s
#    metrics_path: /metrics
#    static_configs:
#      - targets: ['proxy:9000']
#
  - job_name: postgres
    scrape_interval: 15s
    static_configs:
      - targets: ['gbans-postgres_exporter:9187']

  - job_name: gbans
    scrape_interval: 15s
    metrics_path: /metrics
    static_configs:
      - targets: ['gbans-service:6006']
