timezone: "America/New_York"
sv_region: 0
# external ip
ip: "1.2.3.4"
vpn:
  client_addr: "10.10.10.11/32"
  private_key: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx="
  public_key: "yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy="
services:
  - name: "Example |  1"
    server_name_short: "exm-1"
    gslt: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
    gbans_key: "xxxxxxxxxxxxxxxxxxxx"
    log_secret: 12345
    rotation: "all"
  - name: "Example | 2"
    server_name_short: "exm-2"
    gslt: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
    gbans_key: "xxxxxxxxxxxxxxxxxxxx"
    log_secret: 67890
    rotation: "all"
