---
- name: create build output dirs
  become: true
  become_user: root
  ansible.builtin.file:
    path: /build
    state: directory
    owner: tf2server
    mode: 0777

- name: build output
  become: true
  become_user: tf2server
  ansible.builtin.file:
    path: /build/{{ item.server_name_short }}
    state: directory
    owner: tf2server
    mode: 0777
  loop: "{{ services }}"

- name: Generate /build/admins_simple.ini
  ansible.builtin.template:
    src: admins_simple.ini.j2
    dest: /build/admins_simple.ini
    mode: 0777
  tags:
    - game_config

- name: Generate /build/admin_overrides.cfg
  ansible.builtin.template:
    src: admin_overrides.cfg.j2
    dest: /build/admin_overrides.cfg
    mode: 0777
  tags:
    - game_config

- name: Generate /build/gbans.cfg
  ansible.builtin.template:
    src: gbans.cfg.j2
    dest: /build/gbans.cfg
    mode: 0777
  tags:
    - game_config

- name: mapcycle.txt
  ansible.builtin.template:
    src: mapcycle.txt.j2
    dest: /build/{{ item.server_name_short }}/mapcycle.txt
    mode: 0777
  tags:
    - game_config
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: Generate /build/maplists.cfg
  ansible.builtin.template:
    src: maplists.cfg.j2
    dest: /build/{{ item.server_name_short }}/maplists.cfg
    mode: 0777
  tags:
    - game_config
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: Generate /build/curated_maplist.cfg
  ansible.builtin.template:
    src: curated_maplist.txt.j2
    dest: /build/{{ item.server_name_short }}/curated_maplist.txt
    mode: 0777
  tags:
    - game_config
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: Generate /build/autoexec.cfg
  ansible.builtin.template:
    src: autoexec.cfg.j2
    dest: /build/{{ item.server_name_short }}/autoexec.cfg
    mode: 0777
  tags:
    - game_config
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: Generate /build/core.cfg
  ansible.builtin.template:
    src: core.cfg.j2
    dest: /build/core.cfg
    mode: 0777
  tags:
    - game_config

- name: Generate /build/discord.cfg
  ansible.builtin.template:
    src: discord.cfg.j2
    dest: /build/discord.cfg
    mode: 0777
  tags:
    - game_config

- name: Generate /build/autorecorder.cfg
  ansible.builtin.template:
    src: autorecorder.cfg.j2
    dest: /build/autorecorder.cfg
    mode: 0777
  tags:
    - game_config

- name: Generate /build/basevotes.cfg
  ansible.builtin.template:
    src: basevotes.cfg.j2
    dest: /build/basevotes.cfg
    mode: 0777
  tags:
    - game_config

- name: Generate /build/funvotes.cfg
  ansible.builtin.template:
    src: funvotes.cfg.j2
    dest: /build/funvotes.cfg
    mode: 0777
  tags:
    - game_config

- name: Generate /build/mapchooser.cfg
  ansible.builtin.template:
    src: mapchooser.cfg.j2
    dest: /build/mapchooser.cfg
    mode: 0777
  tags:
    - game_config

- name: Generate /build/nativevotes.cfg
  ansible.builtin.template:
    src: nativevotes.cfg.j2
    dest: /build/nativevotes.cfg
    mode: 0777
  tags:
    - game_config

- name: Generate /build/networktools.cfg
  ansible.builtin.template:
    src: networktools.cfg.j2
    dest: /build/networktools.cfg
    mode: 0777
  tags:
    - game_config

- name: Generate /build/randomcycle.cfg
  ansible.builtin.template:
    src: randomcycle.cfg.j2
    dest: /build/randomcycle.cfg
    mode: 0777
  tags:
    - game_config

- name: Generate /build/rtv.cfg
  ansible.builtin.template:
    src: rtv.cfg.j2
    dest: /build/rtv.cfg
    mode: 0777
  tags:
    - game_config

- name: Generate tf/cfg/server.cfg
  ansible.builtin.template:
    src: server.cfg.j2
    dest: /build/{{ item.server_name_short }}/server.cfg
    mode: 0777
  tags:
    - game_config
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: Generate /build/sourcemod.cfg
  ansible.builtin.template:
    src: sourcemod.cfg.j2
    dest: /build/sourcemod.cfg
    mode: 0777
  tags:
    - game_config

- name: Generate /build/stac.cfg
  ansible.builtin.template:
    src: stac.cfg.j2
    dest: /build/stac.cfg
    mode: 0777
  tags:
    - game_config
    -
- name: Generate /build/motd.txt
  ansible.builtin.template:
    src: motd.txt.j2
    dest: /build/motd.txt
    mode: 0777
  tags:
    - game_config

- name: Prune containers older than 24h
  docker_prune:
    images: true
    containers: true
    containers_filters:
      # only consider containers created more than 24 hours ago
      until: 24h

- name: srcds-logs volume
  docker_volume:
    name: srcds-{{ item.server_name_short }}-logs
    state: present
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: srcds-stv volume
  docker_volume:
    name: srcds-{{ item.server_name_short }}-stv
    state: present
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: srcds
  docker_container:
    name: srcds-{{ item.server_name_short }}
    image: "{{ item.image_tag | default(image_tag) }}"
    state: started
    restart: true
    network_mode: host
    pull: true
    interactive: true
    tty: true
    recreate: true
    restart_policy: always
    cpuset_cpus: "{{ loop0 * 2 }},{{ (loop0 * 2)+1 }}"
    # Uncomment when not using host network_mode
    # ports:
    #   - "{{ srcds_base_port + (loop0 * 10) }}:{{ srcds_base_port + (loop0 * 10) }}/tcp"
    #   - "{{ srcds_base_port + (loop0 * 10) }}:{{ srcds_base_port + (loop0 * 10) }}/udp"
    #   - "{{ srcds_base_port + (loop0 * 10) + 1 }}:{{ srcds_base_port + (loop0 * 10) + 1 }}/udp"
    env:
      SRCDS_TOKEN: "{{ item.gslt }}"
      SRCDS_PORT: "{{ srcds_base_port + (loop0 * 10) }}"
      SRCDS_TV_PORT: "{{ srcds_base_port + (loop0 * 10) + 1 }}"
      SRCDS_REGION: "{{ sv_region | quote }}"
      SRCDS_HOSTNAME: "{{ item.name }}"
      SRCDS_PW: "{{ server_password }}"
      SRCDS_STARTMAP: "{{ map_rotation['default'] | random }}"
      SRCDS_RCONPW: "{{ rcon_password }}"
      SRCDS_IP: "{{ ip }}"
      SRCDS_MAXPLAYERS: "32"
      # This will opt out of the new handshake for A2S_INFO packets to address the reflection attack. At this
      # time, it is primarily intended for testing 3rd party query clients. Since not all players may have an updated
      # Steam client and understand this handshake, it is not recommend enabling this at this time, except for testing.
      # We will post again when the vast majority of users are running clients that understand the new protocol, and
      # enabling the new protocol is safe.
      STEAM_GAMESERVER_A2S_INFO_STRICT_LEGACY_PROTOCOL: "0"
      # This will drop any connectionless packets (A2S_INFO, A2S_RULES, A2S_PLAYERS) from a given IP after more than
      # N are received in a 200ms window. By default, rate limiting is disabled, but a reasonable value might be
      # somewhere around 25-75.
      STEAM_GAMESERVER_RATE_LIMIT_200MS: "35"
      # If this variable is set, then the Steamworks packet handling calls will use a “fast path”. In the
      # Steamworks SDK, most API calls are serialized over an IPC, and in fact execute in the steam client process.
      # A dedicated server does not communicate with a steam client (there usually isn’t one running), but the same
      # basic design is used – there are two threads, and all API calls are serialized and executed in the Steam thread.
      # Turning on this environment variable will bypass this serialization and thread context switch, which makes these
      # calls, much, much faster. Note that this only affects a server in “shared socket mode” – meaning the game port
      # and the query port are the same.
      STEAM_GAMESERVER_PACKET_HANDLER_NO_IPC: "1"
    volumes:
      - srcds-{{ item.server_name_short }}-stv:/home/steam/tf-dedicated/tf/stv_demos
      - srcds-{{ item.server_name_short }}-logs:/home/steam/tf-dedicated/tf/logs
      - /build/{{ item.server_name_short }}/autoexec.cfg:/home/steam/config/tf/cfg/autoexec.cfg
      - /build/{{ item.server_name_short }}/server.cfg:/home/steam/config/tf/cfg/server.cfg
      - /build/admins_simple.ini:/home/steam/config/tf/addons/sourcemod/configs/admins_simple.ini
      - /build/{{ item.server_name_short }}/mapcycle.txt:/home/steam/config/tf/cfg/mapcycle.txt
      - /build/motd.txt:/home/steam/config/tf/cfg/motd.txt
      - /build/admin_overrides.cfg:/home/steam/config/tf/addons/sourcemod/configs/admin_overrides.cfg
      - /build/gbans.cfg:/home/steam/config/tf/addons/sourcemod/configs/gbans.cfg
      - /build/autorecorder.cfg:/home/steam/config/tf/cfg/sourcemod/autorecorder.cfg
      - /build/basevotes.cfg:/home/steam/config/tf/cfg/sourcemod/basevotes.cfg
      - /build/funvotes.cfg:/home/steam/config/tf/cfg/sourcemod/funvotes.cfg
      - /build/mapchooser.cfg:/home/steam/config/tf/cfg/sourcemod/mapchooser.cfg
      - /build/nativevotes.cfg:/home/steam/config/tf/cfg/sourcemod/nativevotes.cfg
      - /build/networktools.cfg:/home/steam/config/tf/cfg/sourcemod/networktools.cfg
      - /build/randomcycle.cfg:/home/steam/config/tf/cfg/sourcemod/randomcycle.cfg
      - /build/rtv.cfg:/home/steam/config/tf/cfg/sourcemod/rtv.cfg
      - /build/sourcemod.cfg:/home/steam/config/tf/cfg/sourcemod/sourcemod.cfg
      - /build/stac.cfg:/home/steam/config/tf/cfg/sourcemod/stac.cfg
      - /build/discord.cfg:/home/steam/config/tf/addons/sourcemod/configs/discord.cfg
      - /build/core.cfg:/home/steam/config/tf/addons/sourcemod/configs/core.cfg
      - /build/{{ item.server_name_short }}/maplists.cfg:/home/steam/config/tf/addons/sourcemod/configs/maplists.cfg
      - /build/{{ item.server_name_short }}/curated_maplist.txt:/home/steam/config/tf/addons/sourcemod/configs/curated_maplist.txt
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: srcds-fw
  become: true
  ansible.builtin.ufw:
    rule: allow
    port: "{{ srcds_base_port + (loop0 * 10) }}"
    proto: any
  loop: "{{ services }}"
  loop_control:
    index_var: loop0
  when: ansible_distribution == 'Ubuntu'
