---
- name: Create srcds root
  ansible.builtin.file:
    path: ~/steamcmd
    state: directory
    mode: "0755"

- name: steamcmd
  unarchive:
    src: https://steamcdn-a.akamaihd.net/client/installer/steamcmd_linux.tar.gz
    dest: ~/steamcmd
    remote_src: yes
    creates: ~/steamcmd/steamcmd.sh

- name: steamcmd update script
  ansible.builtin.template:
    src: tf2_ds.txt.j2
    dest: ~/steamcmd/tf2_ds-{{ item.server_name_short }}.txt
    mode: 0755
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: download
  command:
    cmd: ./steamcmd.sh +runscript tf2_ds-{{ item.server_name_short }}.txt
    chdir: ~/steamcmd
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: Install a list of packages
  become: true
  ansible.builtin.apt:
    pkg:
      - lib32z1
      - libncurses5:i386
      - libbz2-1.0:i386
      - lib32gcc-s1
      - lib32stdc++6
      - libtinfo5:i386
      - libcurl3-gnutls:i386
      - libsdl2-2.0-0:i386
      - libncurses5:i386
      - libtinfo5:i386
      - libcurl4:i386
      - libstdc++6:i386
      - libcurl4-gnutls-dev:i386
      - tmux

- name: Cleanup existing sourcemod plugins dif
  ansible.builtin.file:
    state: absent
    path: /home/tf2server/srcds-{{ item.server_name_short }}/tf/addons/sourcemod/plugins/
  loop: "{{ services }}"

- name: Cleanup existing sourcemod extensions dif
  ansible.builtin.file:
    state: absent
    path: /home/tf2server/srcds-{{ item.server_name_short }}/tf/addons/sourcemod/extensions/
  loop: "{{ services }}"

- name: Build sourcemod
  ansible.builtin.include_role:
    name: sourcemod

- name: Copy sourcemod distribution to /tf
  ansible.posix.synchronize:
    src: /home/tf2server/build_sourcemod/
    dest: /home/tf2server/srcds-{{ item.server_name_short }}/tf/
    recursive: true
  loop: "{{ services }}"
  # Perform the copy from the *remote* sourcemod build output
  delegate_to: "{{ inventory_hostname }}"

- name: Copy navmeshes /tf/maps/
  ansible.builtin.copy:
    src: "{{ role_path }}/files/navmeshes/"
    dest: /home/tf2server/srcds-{{ item.server_name_short }}/tf/maps/
  loop: "{{ services }}"
  when: item.config == "pve"
  # Perform the copy from the *remote* sourcemod build output
  #delegate_to: "{{ inventory_hostname }}"

- name: Copy attach.sh
  ansible.builtin.copy:
    src: "{{ role_path }}/files/attach.sh"
    dest: /home/tf2server/srcds-{{ item.server_name_short }}/attach.sh
    mode: 0755
  loop: "{{ services }}"

- name: /tf/mapcycle.txt
  ansible.builtin.template:
    src: mapcycle.txt.j2
    dest: ~/srcds-{{ item.server_name_short }}/tf/mapcycle.txt
    mode: 0655
  tags:
    - game_config
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: /tf/item_whitelist.txt
  ansible.builtin.template:
    src: item_whitelist.txt.j2
    dest: ~/srcds-{{ item.server_name_short }}/tf/item_whitelist.txt
    mode: 0655
  tags:
    - game_config
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: /tf/addons/sourcemod/configs/maplists.cfg
  ansible.builtin.template:
    src: maplists.cfg.j2
    dest: ~/srcds-{{ item.server_name_short }}/tf/addons/sourcemod/configs/maplists.cfg
    mode: 0655
  tags:
    - game_config
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: /tf/addons/sourcemod/configs/databases.cfg
  ansible.builtin.template:
    src: databases.cfg.j2
    dest: ~/srcds-{{ item.server_name_short }}/tf/addons/sourcemod/configs/databases.cfg
    mode: 0655
  tags:
    - game_config
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: /tf/cfg/autoexec.cfg
  ansible.builtin.template:
    src: autoexec.cfg.j2
    dest: ~/srcds-{{ item.server_name_short }}/tf/cfg/autoexec.cfg
    mode: 0655
  tags:
    - game_config
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: /tf/cfg/server.cfg
  ansible.builtin.template:
    src: server.cfg.j2
    dest: ~/srcds-{{ item.server_name_short }}/tf/cfg/server.cfg
    mode: 0655
  tags:
    - game_config
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: /tf/cfg/motd.cfg
  ansible.builtin.template:
    src: motd.txt.j2
    dest: ~/srcds-{{ item.server_name_short }}/tf/cfg/motd.txt
    mode: 0655
  tags:
    - game_config
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: /tf/addons/sourcemod/configs/core.cfg
  ansible.builtin.template:
    src: core.cfg.j2
    dest: ~/srcds-{{ item.server_name_short }}/tf/addons/sourcemod/configs/core.cfg
    mode: 0655
  tags:
    - game_config
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: /tf/addons/sourcemod/configs/discord.cfg
  ansible.builtin.template:
    src: discord.cfg.j2
    dest: ~/srcds-{{ item.server_name_short }}/tf/addons/sourcemod/configs/discord.cfg
    mode: 0655
  tags:
    - game_config
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: /tf/addons/sourcemod/configs/danepve.cfg
  ansible.builtin.template:
    src: danepve.cfg.j2
    dest: ~/srcds-{{ item.server_name_short }}/tf/addons/sourcemod/configs/danepve.cfg
    mode: 0655
  tags:
    - game_config
  loop: "{{ services }}"
  when: item.config == 'pve'
  loop_control:
    index_var: loop0

- name: /tf/cfg/sourcemod/gbans.cfg
  ansible.builtin.template:
    src: gbans.cfg.j2
    dest: ~/srcds-{{ item.server_name_short }}/tf/cfg/sourcemod/gbans.cfg
    mode: 0655
  tags:
    - game_config
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: /tf/cfg/sourcemod/basevotes.cfg
  ansible.builtin.template:
    src: basevotes.cfg.j2
    dest: ~/srcds-{{ item.server_name_short }}/tf/cfg/sourcemod/basevotes.cfg
    mode: 0655
  tags:
    - game_config
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: /tf/cfg/sourcemod/funvotes.cfg
  ansible.builtin.template:
    src: funvotes.cfg.j2
    dest: ~/srcds-{{ item.server_name_short }}/tf/cfg/sourcemod/funvotes.cfg
    mode: 0655
  tags:
    - game_config
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: /tf/cfg/sourcemod/mapchooser.cfg
  ansible.builtin.template:
    src: mapchooser.cfg.j2
    dest: ~/srcds-{{ item.server_name_short }}/tf/cfg/sourcemod/mapchooser.cfg
    mode: 0755
  tags:
    - game_config
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: /tf/cfg/sourcemod/nativevotes.cfg
  ansible.builtin.template:
    src: nativevotes.cfg.j2
    dest: ~/srcds-{{ item.server_name_short }}/tf/cfg/sourcemod/nativevotes.cfg
    mode: 0755
  tags:
    - game_config
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: /tf/cfg/sourcemod/randomcycle.cfg
  ansible.builtin.template:
    src: randomcycle.cfg.j2
    dest: ~/srcds-{{ item.server_name_short }}/tf/cfg/sourcemod/randomcycle.cfg
    mode: 0755
  tags:
    - game_config
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: /tf/cfg/mapconfig/gametype/pl.cfg
  ansible.builtin.template:
    src: pl.cfg.j2
    dest: ~/srcds-{{ item.server_name_short }}/tf/cfg/mapconfig/gametype/pl.cfg
    mode: 0775
  tags:
    - game_config
  when: item.config == 'stopwatch'
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: /tf/cfg/mapconfig/gametype/workshop/pl.cfg
  ansible.builtin.template:
    src: pl.cfg.j2
    dest: ~/srcds-{{ item.server_name_short }}/tf/cfg/mapconfig/gametype/workshop/pl.cfg
    mode: 0775
  tags:
    - game_config
  when: item.config == 'stopwatch'
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: /tf/cfg/sourcemod/rtv.cfg
  ansible.builtin.template:
    src: rtv.cfg.j2
    dest: ~/srcds-{{ item.server_name_short }}/tf/cfg/sourcemod/rtv.cfg
    mode: 0775
  tags:
    - game_config
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: /tf/cfg/sourcemod/sourcemod.cfg
  ansible.builtin.template:
    src: sourcemod.cfg.j2
    dest: ~/srcds-{{ item.server_name_short }}/tf/cfg/sourcemod/sourcemod.cfg
    mode: 0755
  tags:
    - game_config
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: /tf/cfg/sourcemod/stac.cfg
  ansible.builtin.template:
    src: stac.cfg.j2
    dest: ~/srcds-{{ item.server_name_short }}/tf/cfg/sourcemod/stac.cfg
    mode: 0755
  tags:
    - game_config
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: /tf/cfg/sourcemod/networktools.cfg
  ansible.builtin.template:
    src: networktools.cfg.j2
    dest: ~/srcds-{{ item.server_name_short }}/tf/cfg/sourcemod/networktools.cfg
    mode: 0755
  tags:
    - game_config
  loop: "{{ services }}"
  when: item.config != "pve"
  loop_control:
    index_var: loop0

- name: /tf/cfg/sourcemod/discord_accelerator.cfg
  ansible.builtin.template:
    src: discord_accelerator.cfg.j2
    dest: "~/srcds-{{ item.server_name_short }}/tf/cfg/sourcemod/discord_accelerator.cfg"
    mode: 0755
  tags:
    - game_config
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: Generate /entry.sh
  ansible.builtin.template:
    src: "entry.sh.j2"
    dest: "~/srcds-{{ item.server_name_short }}/entry.sh"
    mode: 0775
  tags:
    - game_config
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: Generate stop.sh
  ansible.builtin.template:
    src: "stop.sh.j2"
    dest: "~/srcds-{{ item.server_name_short }}/stop.sh"
    mode: 0775
  tags:
    - game_config
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: srcds-fw-enable
  become: true
  ansible.builtin.ufw:
    rule: allow
    port: "{{ srcds_base_port + (loop0 * 10) }}"
    proto: any
  loop: "{{ services }}"
  loop_control:
    index_var: loop0
  when: ansible_distribution == 'Ubuntu'

- name: stv-fw-enable
  become: true
  ansible.builtin.ufw:
    rule: allow
    port: "{{ srcds_base_port + (loop0 * 10) + 1 }}"
    proto: udp
  loop: "{{ services }}"
  loop_control:
    index_var: loop0
  when: ansible_distribution == 'Ubuntu'

- name: srcds-fw-client-outbound
  become: true
  ansible.builtin.ufw:
    rule: allow
    port: "{{ srcds_base_port + (loop0 * 10) + 2 }}"
    proto: udp
    direction: out
  loop: "{{ services }}"
  loop_control:
    index_var: loop0
  when: ansible_distribution == 'Ubuntu'

- name: cron-srcds
  become: true
  ansible.builtin.cron:
    name: "tf2-restart-{{ item.server_name_short }}"
    weekday: "*"
    minute: "0"
    hour: "6"
    job: "systemctl restart srcds-{{ item.server_name_short }}"
  loop: "{{ services }}"
  loop_control:
    index_var: loop0
  when: ansible_distribution == 'Ubuntu'
  tags: cron

- name: Generate srcds services
  become: true
  ansible.builtin.template:
    src: "srcds.service.j2"
    dest: "/etc/systemd/system/srcds-{{ item.server_name_short }}.service"
    mode: 0775
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: Reload systemd
  become: true
  systemd:
    daemon_reload: true

- name: Reload srcds-services
  become: true
  systemd:
    name: "srcds-{{ item.server_name_short }}.service"
    enabled: true
    state: restarted
  loop: "{{ services }}"
  loop_control:
    index_var: loop0


- name: Configure logrotate
  become: true
  copy:
    dest: /etc/logrotate.d/srcds-{{ item.server_name_short }}
    content: |
      /home/{{ srcds_user }}/srcds-{{ item.server_name_short }}/tf/logs/*.log
      {
        daily
        missingok
        rotate 7
      }
  loop: "{{ services }}"
  loop_control:
    index_var: loop0

- name: cron-clean-stv
  become: true
  ansible.builtin.cron:
    name: "srcds-clean-stv-{{ item.server_name_short }}"
    weekday: "*"
    minute: "0"
    hour: "*"
    month: "*"
    job: "find /home/{{ srcds_user }}/srcds-{{ item.server_name_short }}/tf/stv_demos/complete -type f -mtime +2 -delete"
  loop: "{{ services }}"
  loop_control:
    index_var: loop0
  when: ansible_distribution == 'Ubuntu'
  tags: cron