---
- name: Create grafana_data volume
  docker_volume:
    name: grafana_data
    state: present

- name: Create grafana container
  docker_container:
    name: grafana
    image: grafana/grafana-oss:latest-ubuntu
    restart: true
    recreate: true
    restart_policy: unless-stopped
    purge_networks: true
    networks:
      - name: caddy_net
    pull: true
    volumes:
      - grafana_data:/var/lib/grafana
    ports:
      - 127.0.0.1:3000:3000
