---
- name: Setup prometheus
  ansible.builtin.import_tasks: prometheus.yml
  tags:
    - metrics-server

- name: Setup grafana
  ansible.builtin.import_tasks: grafana.yml
  tags:
    - metrics-server
