name: Ansible Lint  # feel free to pick your own name

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      # Important: This sets up your GITHUB_WORKSPACE environment variable
      - uses: actions/checkout@v2

      - name: Lint Ansible Playbook
        # replace "master" with any valid ref
        uses: ansible/ansible-lint-action@main
